.btn-primary {

    &-anchor {
        position: relative;

    }
&._down{
    & .ui-icon{
        transform: rotate(90deg);
    }
}


    &-text {
        //styleName: desktop/label circe 12%;
        font-family: Circe;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 110%;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        display: block;
        white-space: nowrap;

        @include mobile {
            font-size: 2rem;
        }
    }

    &._black {
        & .btn-primary-circle {
            border: 1px solid $black16;

        }
    }

    &-c {
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: 20rem;
        height: 20rem;
        transform: translate(50%, 50%);

        @include mobile {
            gap: 3.2rem;
            width: 25rem;
          
        }

    }

    &-circle {
        position: absolute;
        width: 37rem;
        height: 37rem;
        background-color: transparent;
        border: 1px solid $white40;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        transition: width .2s linear, height .2s linear;

        @include hover {
            width: 32rem;
            height: 32rem;
        }

    }
}


.btn-hover{
    @include hover{
        & .btn-second{
            & .btn-second-circle {
                background-color: $black;
            }
    
            & .ui-icon {
                & svg {
                    stroke: $white;
    
                }
            }
    
            & .btn-second-text {
                background-position: -3.5rem 0;
            }  
        }
    }
    
}
.btn-second {
    display: flex;
    gap: .8rem;
    align-items: center;
    width: fit-content;
    position: relative;


    @include mobile {
        gap: .8rem;
    }

    @include hover {
        & .btn-second-circle {
            background-color: $black;
        }

        & .ui-icon {
            & svg {
                stroke: $white;

            }
        }

        & .btn-second-text {
            background-position: -3.5rem 0;
        }
    }

    &._white {
        & .btn-second-text {
            background: rgb(0, 0, 0);
            background: linear-gradient(90deg, rgb(255, 255, 255) 67%, rgba(255, 255, 255, 1) 67%);
            background-clip: text;
            color: transparent;
            fill: transparent;
        }

        & .ui-icon {


            & svg {
                stroke: $white;
            }
        }
        & .btn-second-circle{
            border-color: $white40;
        }
    }

    &-text {
        //styleName: desktop/label circe 12%;
        font-family: Circe;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.12em;
        position: relative;
        z-index: 2;
        background: rgb(0, 0, 0);
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 67%, rgba(255, 255, 255, 1) 67%);
        background-size: 150% 100%;
        background-position: 0% 0;
        transition: background-position .2s linear;
        background-clip: text;
        color: transparent;
        fill: transparent;
        text-transform: uppercase;

        @include mobile {
            font-size: 2rem;
        }

    }

    &-circle {

        display: block;
        position: absolute;
        top: 50%;
        right: -4rem;
        width: 7.6rem;
        height: 7.6rem;
        border-radius: 50%;
        border: 2px solid $black16;
        transform: translate(-50%, -50%);
        transition: width .2s linear, height .2s linear, background-color .2s linear;
        background-color: transparent;
        z-index: 1;

        @include mobile {
            width: 12rem;
            height: 12rem;
            right: -7rem;
            border-width: 1px;
        }
    }

    & .ui-icon {
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;

        & svg {

            stroke: $black;
            transition: stroke .2s linear;
        }
    }


}