<section class="advantages">
    <div class="container advantages__c">
        <div class="advantages__c-el txt14 txt-up anime-translate-top">
            <p class="anime-translate-t">Синтез инженерных систем с дизайн-проектом</p>
        </div>
        <div class="advantages__c-el tl1 txt-up anime-translate-top">
            <p class="anime-translate-t"> преимущества <br /> работы с нами</p>
        </div>

        <!-- максимум 8 рядов -->
        <div class="advantages__c-el _hover tl3 txt-up " >
            <span class="txt14 advantages__c-el-count anime-height-top ">
                1
            </span>
            <p class="advantages__c-el-text anime-width-right " data-anime-dealy="1s">
                hover el 1
                <span class="txt16 col-black40"> text bottom</span>
            </p>
            <div class="ui-line _black anime-width-right" data-anime-dealy="1.5s"></div>
        </div>
        <div class="advantages__c-img anime-height-top">
            <img src="./assets/images/contacts-mob.png" alt="">
        </div>
        <div class="advantages__c-el _hover tl3 txt-up " >
            <span class="txt14 advantages__c-el-count anime-height-top " >
                2
            </span>
            <p class="anime-width-right" data-anime-dealy="1s">hover el 2</p>
            <div class="ui-line _black anime-width-right" data-anime-dealy="1.5s"></div>
        </div>
        <div class="advantages__c-img">
            <img src="./assets/images/heading-main.png" alt="">
        </div>
        <div class="advantages__c-el _hover tl3 txt-up " >
            <span class="txt14 advantages__c-el-count anime-height-top ">
                3
            </span>
            <p class="anime-width-right" data-anime-dealy="1s">hover el 3</p>
            <div class="ui-line _black anime-width-right" data-anime-dealy="1.5s"></div>
        </div>
        <div class="advantages__c-img">
            <img src="./assets/images/advantages.png" alt="">
        </div>
    </div>
</section>