<section class="faq">
    <div class="container faq__c">
        <div class="faq__c-left">
            <div class="tl1 txt-up anime-translate-top">
                <p class="anime-translate-t">
                    часто задаваемые
                    <br />
                    вопросы
                </p>
            </div>
            <div class="faq__c-left-img anime-height-top desktop">
                <img src="./assets/images/faq.png" alt="">

            </div>
        </div>
        <ul class="faq__c-body">
            <li class="faq__c-body-el anime-width-right" data-anime-delay=".5s">
                <div class="faq__c-body-el-target ">
                    <span class="txt14"> 01</span>
                    <p class="txt-up txt22">вопрос</p>
                    <span class="faq__c-body-el-target-circle">

                    </span>
                </div>
                <div class="faq__c-body-el-body txt16">
                    <div class="faq__c-body-el-body-data">
                        ответ
                    </div>
                </div>
            </li>
            <li class="faq__c-body-el anime-width-right" data-anime-delay=".5s">
                <div class="faq__c-body-el-target ">
                    <span class="txt14"> 01</span>
                    <p class="txt-up txt22">вопрос</p>
                    <span class="faq__c-body-el-target-circle">

                    </span>
                </div>
                <div class="faq__c-body-el-body txt16">
                    <div class="faq__c-body-el-body-data">
                        ответ
                    </div>
                </div>
            </li>
            <li class="faq__c-body-el anime-width-right" data-anime-delay=".5s">
                <div class="faq__c-body-el-target ">
                    <span class="txt14"> 01</span>
                    <p class="txt-up txt22">вопрос</p>
                    <span class="faq__c-body-el-target-circle">

                    </span>
                </div>
                <div class="faq__c-body-el-body txt16">
                    <div class="faq__c-body-el-body-data">
                        ответ
                    </div>
                </div>
            </li>


        </ul>
    </div>
</section>