<div class="modal modal-request modal-closer ">
    <div class="modal__c container">
        <button class="modal__c-closer modal-closer anime-height-bottom" data-anime-delay="1s">
        </button>

        <div class="tl1 txt-up anime-translate-top">
            <p class="anime-translate-t" data-anime-delay="1s">
                закажите звонок в удобное <br />
                для вас время
            </p>
        </div>
        <form class="form modal__c-form">

            <label class="input-text anime-width-right" data-anime-delay="1.1s">
                <input type="text" name="name" data-required="y" placeholder="Ваше имя" required="">
                <span class="input-text-error">твое имя? антон</span>
            </label>

            <label class="input-text anime-width-right" data-anime-delay="1.2s">
                <input type="text" name="name" data-required="y" placeholder="+7 (___) ___-__-__" required="">
                <span class="input-text-error">а? че звал, сларк</span>
            </label>

            <div class="modal__c-form-time anime-height-top" data-anime-delay="1.5s">
                <p class="txt20">Выберите удобное время</p>
                <label class="input-time">
                    <input type="radio" name="requsetModalTime" value="11h-12h" checked>
                    <span class="input-time-border"></span>
                    <span class="input-time-text"> 11:00 - 12:00</span>
                </label>
                <label class="input-time">
                    <input type="radio" name="requsetModalTime" value="11h-12h">
                    <span class="input-time-border"></span>
                    <span class="input-time-text"> 11:00 - 12:00</span>
                </label>
                <label class="input-time">
                    <input type="radio" name="requsetModalTime" value="11h-12h">
                    <span class="input-time-border"></span>
                    <span class="input-time-text"> 11:00 - 12:00</span>
                </label>
                <label class="input-time">
                    <input type="radio" name="requsetModalTime" value="11h-12h">
                    <span class="input-time-border"></span>
                    <span class="input-time-text"> 11:00 - 12:00</span>
                </label>
                <label class="input-time">
                    <input type="radio" name="requsetModalTime" value="11h-12h">
                    <span class="input-time-border"></span>
                    <span class="input-time-text"> 11:00 - 12:00</span>
                </label>
                <label class="input-time">
                    <input type="radio" name="requsetModalTime" value="11h-12h">
                    <span class="input-time-border"></span>
                    <span class="input-time-text"> 11:00 - 12:00</span>
                </label>
                <label class="input-time">
                    <input type="radio" name="requsetModalTime" value="11h-12h">
                    <span class="input-time-border"></span>
                    <span class="input-time-text"> 11:00 - 12:00</span>
                </label>
                <label class="input-time">
                    <input type="radio" name="requsetModalTime" value="11h-12h">
                    <span class="input-time-border"></span>
                    <span class="input-time-text"> 11:00 - 12:00</span>
                </label>
                <label class="input-time">
                    <input type="radio" name="requsetModalTime" value="11h-12h">
                    <span class="input-time-border"></span>
                    <span class="input-time-text"> 11:00 - 12:00</span>
                </label>
            </div>

            <div class="modal__c-form-footer">

                <button class="btn-second  form-submit">
                    <span class="btn-second-text anime-height-top" data-anime-delay="2s">
                        заказать звонок
                    </span>
                    <span class="btn-second-circle anime-height-bottom" data-anime-delay="2s">
                    </span>
                    <span class="ui-icon anime-height-bottom" data-anime-delay="2s">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#140E0A"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke-width="1.5"
                                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M3.5 12H20.33" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </span>
                </button>
                <p class="txt16 col-black40 anime-width-right" data-anime-delay="2s">Отправляя форму, вы принимаете
                    пользовательское соглашение</p>
            </div>

        </form>
        <div class="modal__c-img desktop anime-height-bottom" data-anime-delay="1s">
            <img src="./assets/images/heading-main.png">
        </div>
    </div>
</div>

<div class="modal modal-call modal-closer ">
    <div class="modal__c container">
        <button class="modal__c-closer modal-closer anime-height-bottom" data-anime-delay="1s">
        </button>

        <div class="tl1 txt-up anime-translate-top">
            <p class="anime-translate-t" data-anime-delay="1s">
                Оставьте свои контакты <br />
                для связи
            </p>
        </div>
        <form class="form modal__c-form">

            <label class="input-text anime-width-right" data-anime-delay="1.1s">
                <input type="text" name="name" data-required="y" placeholder="Ваше имя">
                <span class="input-text-error">твое имя? антон</span>
            </label>

            <label class="input-text anime-width-right" data-anime-delay="1.2s">
                <input type="text" name="name" data-required="y" placeholder="+7 (___) ___-__-__">
                <span class="input-text-error">а? че звал, сларк</span>
            </label>

            <label class="input-text anime-width-right" data-anime-delay="1.2s">
                <textarea rows="3" type="text" name="comment" placeholder="Комментарий"></textarea>
                <span class="input-text-error">а? че звал, сларк</span>
            </label>



            <div class="modal__c-form-footer">

                <button class="btn-second  form-submit">
                    <span class="btn-second-text anime-height-top" data-anime-delay="2s">
                        отправить заявку
                    </span>
                    <span class="btn-second-circle anime-height-bottom" data-anime-delay="2s">
                    </span>
                    <span class="ui-icon anime-height-bottom" data-anime-delay="2s">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#140E0A"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke-width="1.5"
                                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M3.5 12H20.33" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </span>
                </button>
                <p class="txt16 col-black40 anime-width-right" data-anime-delay="2s">Отправляя форму, вы принимаете
                    пользовательское соглашение</p>
            </div>

        </form>
        <div class="modal__c-img desktop anime-height-bottom" data-anime-delay="1s">
            <img src="./assets/images/heading-main.png">
        </div>
    </div>
</div>


<!-- что бы открыть, триггерни на чем угодно что имеет data-modal='thanks' клик -->
<!-- $([data-modal='thanks']).trigger('click') -->
<div class="modal modal-thanks modal-closer ">
    <div class="modal__c container">
        <button class="modal__c-closer modal-closer anime-height-bottom" data-anime-delay="1s">
        </button>

        <div class="modal-thanks__top">
            <div class="anime-translate-top tl1 txt-up">
                <p class="anime-translate-t" data-anime-delay="1s">
                    спасибо за заявку!
                </p>
            </div>
            <div class="anime-translate-top txt20 ">
                <p class="anime-translate-t" data-anime-delay="1s">
                    Форма успешно отправлена, <br />
                    наш менеджер свяжется с Вами в течение часа!
                </p>
            </div>
        </div>

        <picture class="modal-thanks__img anime-height-top" data-anime-delay="1s">
            <source media="(max-width:48em )" srcset="./assets/images/thanks-mob.png">
            <img src="./assets/images/thanks.png">
        </picture>

    </div>
</div>

<footer>
    <!-- а нету  -->
</footer>