<section class="message" data-anime-states="3">
    
    <div class="container message__c">
        <div class="ui-line anime-width-right _black" data-anime-delay="2s" data-anime-speed="1s"></div>
        <button class="btn-primary _black">
            <span class="btn-primary-anchor">
                <span class="btn-primary-c">
                    <span class="btn-primary-text anime-height-top" data-anime-delay="1.6s">
                        связаться <br />
                        с руководителем
                    </span>
                    <span class="ui-icon _arrow-black-right anime-height-bottom" data-anime-delay="1.6s">
                    </span>
                </span>
                <span class="btn-primary-circle anime-height-bottom" data-anime-delay="1.5s"></span>
            </span>
        </button>

        <div class="tl1 txt-up message__c-heading anime-translate-bottom">
            <p class="anime-translate-t">Cлово руководителей</p>
        </div>
        <div class="txt14 txt-up message__c-exp anime-translate-bottom">
            <p class=" anime-translate-t" data-anime-delay=".2s">
                Наш опыт будет <br />
                вам полезен
            </p>
        </div>
        <div class="txt22 txt-up message__c-mission anime-translate-bottom">
            <p class="anime-translate-t" data-anime-delay=".5s">
                Наша миссия - создание вечноценных интерьеров, пока вы заняты любимым делом, семьей или работой
            </p>
        </div>

        <div class="message__c-small anime-height-bottom" data-anime-delay=".5s">
            <img src="./assets/images/message-small.png" alt="">
        </div>
        <div class="message__c-big anime-height-bottom" data-anime-delay=".6s">
            <img src="./assets/images/message-big.png" alt="">
        </div>

        <div class="message__c-text">

            <div class="txt20 message__c-text-top  anime-translate-top">
                <p class="anime-translate-t" data-anime-delay=".5s">
                    Наши клиенты чаще всего уже сталкивались с ремонтами и дизайнерами, и у каждого возникали
                    ситуации,
                    которые оставили определенное впечатление - переживания о сроках, бюджете, прозрачности,
                    конфиденциальности, о том, что больше нет желания вникать во все нюансы, тратить личное ценное
                    время, на
                    стройках и в магазинах для выбора идеального сочетания.
                </p>
            </div>
            <div class="txt20 message__c-text-bottom anime-translate-top">
                <p class="anime-translate-t" data-anime-delay="1s">
                    Наша работа заключается в продумывании интерьера для каждого конкретного человека и в
                    максимальном
                    освобождении его от ненужных забот. Ремонт может быть приятным, потому что мы выполняем весь
                    комплекс
                    услуг, начиная с первичной консультации, заканчивая декорированием и фотофиксацией
                </p>
                <a href="/about.html" class="btn-second mobile">
                    <span class="btn-second-text anime-height-top" data-anime-delay="1s">подробнее о нас</span>
                    <span class="btn-second-circle anime-height-bottom" data-anime-delay="1s"> </span>
                    <span class="ui-icon anime-height-bottom" data-anime-delay="1s">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#140E0A"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke-width="1.5"
                                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M3.5 12H20.33" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </span>
                </a>
            </div>
        </div>

        <div class="message__c-btn-small desktop">
            <button class="btn-second">
                <span class="btn-second-text anime-height-top" data-anime-delay="1s">подробнее о нас</span>
                <span class="btn-second-circle anime-height-bottom" data-anime-delay="1s"> </span>
                <span class="ui-icon anime-height-bottom" data-anime-delay="1s">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#140E0A"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke-width="1.5"
                            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M3.5 12H20.33" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </span>
            </button>
        </div>
    </div>

</section>