<section class="our-projects section-with-topper " data-anime-header="2" data-anime-states="2" data-anime-desktops="2">
    <div class="our-projects__c-main  section-with-topper__main anime-translate-bottom swiper">
        <div class="swiper-navigation container">
            <button class="swiper-btn swiper-btn-prev _white"></button>
            <button class="swiper-btn swiper-btn-next _white"></button>
        </div>
        <div class="ui-line  anime-width-right" data-anime-trigger="2" data-anime-delay="2s"></div>
        <ul class="swiper-wrapper swiper-clip anime-translate-t" data-anime-speed="1s">
            <li class="swiper-slide our-projects__c-main-slide swiper-clip _clip-both ">
                <div class="ui-bg">
                    <img src="./assets/images/heading-main.png" alt="" class="anime-zoom" data-anime-trigger-desktop="2">
                </div>

                <div class="container our-projects__c-main-slide-body col-wh">
                    <button class="btn-primary">
                        <span class="btn-primary-anchor">
                            <span class="btn-primary-c">
                                <span class="btn-primary-text anime-height-top"  data-anime-trigger="2" data-anime-trigger-desktop="2" data-anime-delay="1s">
                                    смотреть <br />
                                    проект
                                </span>
                                <span class="ui-icon _arrow-white-right anime-height-bottom"  data-anime-trigger="2" data-anime-trigger-desktop="2" data-anime-delay="1s">
                                </span>
                            </span>
                            <span class="btn-primary-circle anime-height-bottom"  data-anime-trigger="2" data-anime-trigger-desktop="2" data-anime-delay=".8s"></span>
                        </span>
                    </button>

                    <div class="our-projects__c-main-slide-body-top">
                        <p class="tl1 txt-up anime-height-bottom"  data-anime-trigger="2" data-anime-delay="1s"> item name</p>
                        <p class="txt14 txt-up anime-height-bottom"  data-anime-trigger="2" data-anime-delay="1s"> item type</p>
                    </div>
                    <div class="our-projects__c-main-slide-body-values anime-height-top txt22"  data-anime-trigger="2" data-anime-delay="1s">
                        <p >12.12.1212</p>
                        <p class="col-wh ">&middot;</p>
                        <p >228m <sup>2</sup></p>
                    </div>
                </div>
            </li>
            <li class="swiper-slide our-projects__c-main-slide swiper-clip _clip-both">
                <div class="ui-bg">
                    <img src="./assets/images/message-big.png" alt="">
                </div>

                <div class="container our-projects__c-main-slide-body col-wh">
                    <button class="btn-primary">
                        <span class="btn-primary-anchor">
                            <span class="btn-primary-c">
                                <span class="btn-primary-text">
                                    смотреть <br />
                                    проект
                                </span>
                                <span class="ui-icon _arrow-white-right">
                                </span>
                            </span>
                            <span class="btn-primary-circle"></span>
                        </span>
                    </button>

                    <div class="our-projects__c-main-slide-body-top">
                        <p class="tl1 txt-up"> item number twooooooo</p>
                        <p class="txt14 txt-up"> item type 2</p>
                    </div>
                    <div class="our-projects__c-main-slide-body-values anime-height-top txt22"  data-anime-trigger="2" data-anime-delay="1s">
                        <p >12.12.1212</p>
                        <p class="col-wh ">&middot;</p>
                        <p >228m <sup>2</sup></p>
                    </div>
                </div>
            </li>
            <li class="swiper-slide our-projects__c-main-slide swiper-clip _clip-both">
                <div class="ui-bg">
                    <img src="./assets/images/heading-main.png" alt="">
                </div>

                <div class="container our-projects__c-main-slide-body col-wh">
                    <button class="btn-primary">
                        <span class="btn-primary-anchor">
                            <span class="btn-primary-c">
                                <span class="btn-primary-text">
                                    смотреть <br />
                                    проект
                                </span>
                                <span class="ui-icon _arrow-white-right">
                                </span>
                            </span>
                            <span class="btn-primary-circle"></span>
                        </span>
                    </button>

                    <div class="our-projects__c-main-slide-body-top">
                        <p class="tl1 txt-up"> item name 3</p>
                        <p class="txt14 txt-up"> item type 3</p>
                    </div>
                    <div class="our-projects__c-main-slide-body-values anime-height-top txt22"  data-anime-trigger="2" data-anime-delay="1s">
                        <p >12.12.1212</p>
                        <p class="col-wh ">&middot;</p>
                        <p >228m <sup>2</sup></p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="our-projects__c-top section-with-topper__top">
        <div class="container">
            <div class="tl1 txt-up anime-translate-top">
                <p class=" anime-translate-t" data-anime-delay=".5s">
                    Познакомьтесь <br />
                    с нашими проектами <br />
                    и убедитесь сами
                </p>
            </div>

            <div class="our-projects__c-top-body">
                <div class="txt22 txt-up anime-translate-top">
                    <p class="anime-translate-t" data-anime-delay=".5s">Создали и реализовали более 90 проектов</p>
                </div>
                <div class="txt20 anime-translate-top">
                    <p class="anime-translate-t" data-anime-delay=".8s">
                        Дизайн проект полностью уникален, учитываются все Ваши пожелания, и в итоге, Вы
                        получаете визуализации своего дома, наполненные реальными материалами и мебелью
                    </p>
                </div>

                <a class="btn-second txt-up" href="to projects">
                    <span class="btn-second-text anime-height-top" data-anime-delay="1.5s">перейти в портфолио</span>
                    <span class="btn-second-circle anime-height-bottom " data-anime-delay="1.5s">
                    </span>
                    <span class="ui-icon anime-height-bottom" data-anime-delay="1.5s">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#140E0A"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke-width="1.5"
                                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M3.5 12H20.33" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </span>


                </a>

            </div>
        </div>
    </div>

</section>