<section class="our-services" data-anime-states="2">
    <div class="container">
        <div class="ui-line desktop anime-width-right _black" data-anime-delay="1s" data-anime-speed="1s"></div>
        <div class="our-services__top">
            <div class="tl1 txt-up anime-translate-bottom">
                <p class="anime-translate-t" data-anime-delay=".1"> все услуги</p>
            </div>
            <div class="our-services__top-body">
                <a href="/prices.html" class="btn-second">
                    <span class="btn-second-text anime-height-top" data-anime-delay="1s">Познакомьтесь с ценами</span>
                    <span class="btn-second-circle anime-height-bottom" data-anime-delay="1s"> </span>
                    <span class="ui-icon anime-height-bottom" data-anime-delay="1s">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#140E0A"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke-width="1.5"
                                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M3.5 12H20.33" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                    </span>
                </a>
                <div class="txt22 anime-translate-bottom">
                    <p class="anime-translate-t" data-anime-delay=".2">
                        *по каждой услуге Вы получаете договоры, акты и закрывающие документы
                    </p>
                </div>
            </div>
        </div>
        <ul class="our-services__grid">
            <li class="our-services__grid-el _text " >
                <p class="tl2 txt-up anime-height-bottom" data-anime-delay=".3s">
                    Мы создаем вечно
                    ценные интерьеры
                    и архитектуру, игнорируя быстротечные тренды
                </p>
                <p class="txt20 anime-height-bottom" data-anime-delay=".3s">
                    Мы
                    придерживаемся архитектурного подхода. Это выражается в нашем подходе
                    к проектированию. Мы создаем формы, объема, а не решаем каждую стену отдельно декоративными
                    способами
                </p>

                <button class="btn-primary _black desktop" data-modal="request">
                    <span class="btn-primary-anchor">
                        <span class="btn-primary-c">
                            <span class="btn-primary-text anime-height-bottom" data-anime-delay="1s">
                                оставить <br />
                                заявку
                            </span>
                            <span class="ui-icon _arrow-black-right anime-height-top" data-anime-delay="1s">
                            </span>
                        </span>
                        <span class="btn-primary-circle anime-height-bottom" data-anime-delay="1s"></span>
                    </span>
                </button>

            </li>

            <!-- первая карточка -->
           <!--  <li class="our-services__grid-el anime-height-bottom" data-anime-delay=".3s">
                <div class="our-services__grid-el-img">
                    <img src="./assets/images/service-1.png" alt="">
                </div>
                <p class="tl2 txt-up">Дизайн интерьера</p>
                <p class="txt20">
                    Комплексная услуга по дизайну
                    интерьера
                </p>
            </li> -->


            <li class="our-services__grid-el anime-height-bottom" data-anime-delay=".4s">
                <div class="our-services__grid-el-img">
                    <img src="./assets/images/service-2.png" alt="">
                </div>
                <p class="tl2 txt-up">Авторский надзор</p>
                <p class="txt20">
                    Контроль реализации проекта 
                </p>
            </li>
            <li class="our-services__grid-el anime-height-bottom" data-anime-delay=".5s">
                <div class="our-services__grid-el-img">
                    <img src="./assets/images/service-3.png" alt="">
                </div>
                <p class="tl2 txt-up">Комплектация</p>
                <p class="txt20">
                    Обеспечение материалами, мебелью,
                    декором
                </p>
            </li>
            <li class="our-services__grid-el anime-height-bottom" data-anime-delay=".6s">
                <div class="our-services__grid-el-img">
                    <img src="./assets/images/service-4.png" alt="">
                </div>
                <p class="tl2 txt-up">Архитектура</p>
                <p class="txt20">
                    Полный спектр архитектурного
проектирования
                </p>
            </li>

        </ul>

    </div>
</section>