<section class="request-form" data-anime-states="3" data-anime-desktops="2">
    <div class="container request-form__grid">
        <div class="request-form__grid-top anime-height-top" data-anime-trigger="1">
            <p class="tl1 txt-up">
                Проектирование и ремонт могут
                быть приятными и увлекательными
            </p>
            <p class="txt20">
                А результат будет радовать Вас долгие годы
            </p>
        </div>
        <div class="request-form__grid-form">
            <div class="txt22 anime-translate-bottom" data-anime-delay=".5s">
                <p class=" anime-translate-t">
                    Оставьте свои контакты <br />
                    для связи
                </p>
            </div>
            <form class="anime-height form" data-anime-delay=".5s">
                <label class="input-text">
                    <input 
                    type="text" 
                    name="phone" 
                    data-required="y" 
                    placeholder="+7 (___) ___-__-__" 
                    required="">
                    <span class="input-text-error"> добавь _error на лэйбл</span>
                </label>

                <button class="btn-second form-submit">
                    <span class="btn-second-text"></span>
                    <span class="btn-second-circle"> </span>
                    <span class="ui-icon">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#140E0A"
                            xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke-width="1.5"
                                stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M3.5 12H20.33" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                                stroke-linejoin="round"></path>
                        </svg>
                    </span>
                </button>

            </form>
            <div class="txt16 col-black40 txt-up anime-translate-top">
                <p class="anime-translate-t" data-anime-delay=".5s">
                    Отправляя форму, вы принимаете <br />
                    пользовательское соглашение
                </p>
            </div>

            <div class="request-form__grid-form-social">
                <div class="request-form__grid-form-social-text txt22 txt-up anime-translate-bottom">
                    <p class="anime-translate-t" data-anime-delay=".7s">
                        или напишите нам
                    </p>
                </div>

                <a class="request-form__grid-form-social-link anime-height-top" data-anime-delay=".7s" href="tg">
                    <img src="./assets/images/icons/tg-black.svg" alt="">
                </a>

                <a class="request-form__grid-form-social-link _inst txt16 anime-height-top" data-anime-delay=".7s"
                    href="inst">
                    <img src="./assets/images/icons/inst-black.svg" alt="">
                </a>


                <a class="request-form__grid-form-social-link anime-height-top" data-anime-delay=".7s" href="wa">
                    <img src="./assets/images/icons/wa-black.svg" alt="">
                </a>

                <p class="txt16 request-form__grid-form-social-inst col-black40">
                    *Запрещен на территории РФ
                </p>
            </div>
        </div>
        <div class="request-form__grid-img anime-height-bottom">
            <img src="./assets/images/request-form.png" alt="">
        </div>
        <div class="request-form__grid-right">
            <div class="tl2 anime-translate-top">
                <p class="anime-translate-t" data-anime-delay="1s">
                    Подводя итоги, <br />
                    Вы получаете
                </p>
            </div>
            <ul class="ui-marked-list anime-translate-left">
                <li class="txt20 anime-translate-t" data-anime-delay="1.1s">Свободное время для себя</li>
                <li class="txt20 anime-translate-t" data-anime-delay="1.2s">Спокойствие и уверенность</li>
                <li class="txt20 anime-translate-t" data-anime-delay="1.3s">Полное технические сопровождение</li>
                <li class="txt20 anime-translate-t" data-anime-delay="1.4s">Эксклюзивный авторский интерьер</li>
                <li class="txt20 anime-translate-t" data-anime-delay="1.5s">Грамотно вложенный бюджет</li>
                <li class="txt20 anime-translate-t" data-anime-delay="1.6s">Конфиденциальность</li>
                <li class="txt20 anime-translate-t" data-anime-delay="1.7s">Прозрачность, официальность</li>
            </ul>
        </div>
    </div>

    <div class="request-form__footer footer anime-translate-bottom" data-anime-trigger-desktop="2" data-anime-trigger="3">
        <div class="ui-line _black anime-width-right" data-anime-delay=".5s" data-anime-trigger-desktop="2" data-anime-trigger="3"></div>
        <div class="container footer__c txt16 anime-translate-t" data-anime-trigger-desktop="2" data-anime-trigger="3">
            <a href="#" class="col-black40">Политика конфиденциальности</a>
            <p class="txt16  col-black40">© 2014-2024</p>
            <button class="btn-second" data-modal='request'>
                <span class="btn-second-text anime-height-top" data-anime-delay="1s" data-anime-trigger-desktop="2" data-anime-trigger="3">заявка на
                    обратный звонок</span>
                <span class="btn-second-circle anime-height-bottom" data-anime-delay="1s" data-anime-trigger-desktop="2" data-anime-trigger="3">
                </span>
                <span class="ui-icon anime-height-bottom" data-anime-delay="1s" data-anime-trigger-desktop="2" data-anime-trigger="3">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#140E0A"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M14.4297 5.92969L20.4997 11.9997L14.4297 18.0697" stroke-width="1.5"
                            stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M3.5 12H20.33" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </span>
            </button>
        </div>
    </div>
</section>