<section class="two-side" data-anime-states="3">
    <div class="container">
        <div class="ui-line _black anime-width-right" data-anime-delay="1s" data-anime-speed="1s" data-anime-trigger="3"></div>
        <div class="two-side__top">
            <div class="tl1 txt-up anime-translate-bottom">
                <p class="anime-translate-t">
                    Для Вас мы предлагаем <br /> полный цикл услуг
                </p>
            </div>
            <div class="txt22 txt-up anime-translate-bottom">
                <p class="anime-translate-t" data-anime-delay=".3s">
                    от визуализации <br class="desktop" />
                    до готового <br class="mobile"/> пространства - <br class="desktop" />
                    под ключ
                </p>
            </div>
        </div>
        <ul class="two-side__grid">
            <li class="two-side__grid-el">
                <div class="two-side__grid-el-img anime-height-bottom" data-anime-delay=".3s">
                    <img src="./assets/images/two-side-1.png" alt="">
                </div>
            </li>
            <li class="two-side__grid-el">
                <p class="txt20 anime-height-bottom two-side__grid-el-text" data-anime-delay=".3s">После дизайн-проекта мы приступаем
                    к комплектации и авторскому надзору.
                    На этом этапе мы предлагаем Вам строителей, специалистов по технадзору, подрядчиков для инженерных
                    коммуникаций (вентиляция, кондициони-рование, умный дом и т.д.), поставщиков отделочных
                    материалов, мебельные фабрики и услуги байера.
                </p>
                <p class="txt20 anime-height-bottom two-side__grid-el-text" data-anime-trigger="2" data-anime-delay=".6s">
                    Работая с нами вы не тратите время
                    на поиски, муки выбора, проверку догово-ров, а выбираете надежных подрядчиков, которые себя
                    зарекомендовали за годы работы с нами.
                </p>
            </li>
            <li class="two-side__grid-el">
                <div class="two-side__grid-el-img anime-height-bottom" data-anime-delay="1s">
                    <img src="./assets/images/two-side-2.png" alt="">
                </div>
            </li>
            <li class="two-side__grid-el">
                <p class="txt20 anime-height-bottom two-side__grid-el-text" data-anime-delay="1s">Комплектация осуществляется
                    по согласованному бюджету после определения точных цен на материалы
                    и мебель по готовому и принятому проекту. </p>

                <div class="two-side__grid-el-text _grid">
                    <p class="txt20 anime-height-bottom" data-anime-delay="1.3s">
                        Строительные работы и закупки производятся по согласованным с вами графикам, чтобы не возникало
                        задержек
                        при ремонте
                    </p>

                    <a href="/projects.html" class="btn-primary _black">
                        <span class="btn-primary-anchor">
                            <span class="btn-primary-c">
                                <span class="btn-primary-text anime-height-top" data-anime-trigger="3" data-anime-delay="2s">
                                    наше <br />
                                    портфолио
                                </span>
                                <span class="ui-icon _arrow-black-right anime-height-bottom" data-anime-trigger="3" data-anime-delay="2s">
                                </span>
                            </span>
                            <span class="btn-primary-circle anime-height-bottom" data-anime-trigger="3" data-anime-delay="1.5s"></span>
                        </span>
                    </a>

                </div>
            </li>

        </ul>
    </div>
</section>