<section class="two-slider" data-twoslide-state="1">
    <div class="container">
        <div class="two-slider__top">
            <div class="tl1 txt-up anime-translate-top">
                <p class="anime-translate-t">
                    создаём интерьеры <br />
                    для людей, ценящих <br />
                    качество и комфорт
                </p>
            </div>
            <button class="btn-primary _black" data-modal="request">
                <span class="btn-primary-anchor">
                    <span class="btn-primary-c">
                        <span class="btn-primary-text anime-height-top" data-anime-delay="1.6s">
                            закажите <br />
                            звонок <br />
                            в удобное <br />
                            для вас время
                        </span>
                        <span class="ui-icon _arrow-black-right anime-height-bottom" data-anime-delay="1.6s">
                        </span>
                    </span>
                    <span class="btn-primary-circle anime-height-bottom" data-anime-delay="1.5s"></span>
                </span>
            </button>
            <div class="ui-line desktop _black anime-width-right" data-anime-delay="1s"></div>
        </div>
        <div class="swiper">
            <div class="swiper-nav anime-height-top" data-anime-delay="1s">
                <button class="swiper-btn swiper-btn-prev"></button>
                <button class="swiper-btn swiper-btn-next"></button>
            </div>
            
            <div class="ui-line mobile _black anime-width-right" data-anime-delay="1s"></div>

            <ul class="swiper-wrapper">
                <li class="swiper-slide two-slider__slide">
                    <div class="two-slider__slide-img anime-height-top" data-anime-swiper-mob >
                        <img src="./assets/images/two-slider-1.png" alt="">
                    </div>
                    <div class="two-slider__slide-body">
                        <p class="txt14 desktop col-black40 two-slider__slide-body-count anime-height-bottom" >
                            <span>
                                01
                            </span>
                        </p>
                        <div class="tl3 txt-up anime-translate-bottom" >
                            <p class="anime-translate-t ">
                                Мы специализируемся на премиум сегменте
                            </p>
                        </div>
                        <div class="txt16 anime-translate-bottom" >
                            <p class="anime-translate-t">
                                Мы работаем с большими бюджетами более 10 лет и и пришли к выводу, что кто-то умеет экономить, а мы умеем грамотно вкладывать большие бюджеты, так чтобы это чувствовалось, 
                                но не выглядело безвкусно.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide two-slider__slide">
                    <div class="two-slider__slide-img anime-height-top" data-anime-swiper-mob >
                        <img src="./assets/images/two-slider-2.png" alt="">
                    </div>
                    <div class="two-slider__slide-body">
                        <p class="txt14 desktop col-black40 two-slider__slide-body-count anime-height-bottom" >
                          <span>
                              02
                          </span>
                        </p>
                        <div class="tl3 txt-up anime-translate-bottom" >
                            <p class="anime-translate-t ">
                                Мы создаем вечно ценные интерьеры
                            </p>
                        </div>
                        <div class="txt16 anime-translate-bottom" >
                            <p class="anime-translate-t">
                                Игнорируем быстротечные тренды
                                и придерживаемся архитектурного подхода.
                                Это выражается в нашем подходе к проектированию. Мы создаем формы, объема, а не решаем каждую стену отдельно декоративными способами.
                            </p>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide two-slider__slide">
                    <div class="two-slider__slide-img anime-height-top" data-anime-swiper-mob >
                        <img src="./assets/images/two-slider-3.png" alt="">
                    </div>
                    <div class="two-slider__slide-body">
                        <p class="txt14 desktop col-black40 two-slider__slide-body-count anime-height-bottom" >
                           <span>
                               03
                            </span>
                        </p>
                        <div class="tl3 txt-up anime-translate-bottom" >
                            <p class="anime-translate-t ">
                                ДНК  <br />
                                НАШЕГО СТИЛЯ
                            </p>
                        </div>
                        <div class="txt16 anime-translate-bottom" >
                            <p class="anime-translate-t">
                                Соединение современной формы с привличением
                                классических приемов в отделке, природные цвета, отсутвие визуального шума. Современный минимализм в лепнине
                            </p>
                        </div>
                    </div>
                </li>
                <li class="swiper-slide two-slider__slide">
                    <div class="two-slider__slide-img anime-height-top" data-anime-swiper-mob >
                        <img src="./assets/images/two-slider-4.png" alt="">
                    </div>
                    <div class="two-slider__slide-body">
                        <p class="txt14 desktop col-black40 two-slider__slide-body-count anime-height-bottom" >
                          <span>
                              04
                            </span>
                        </p>
                        <div class="tl3 txt-up anime-translate-bottom" >
                            <p class="anime-translate-t ">
                                Официальный договор, акты и чеки
                            </p>
                        </div>
                        <div class="txt16 anime-translate-bottom" >
                            <p class="anime-translate-t">
                                Мы работаем по официальным договорам, соблюдая сроки и обеспечивая высокое качество. Создадим эксклюзивный интерьер под ваш бюджет и воплотим его в срок, пока вы занимаетесь своими делами.
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>