<section class="two-side _arch" data-anime-states="3">
    <div class="container">
        <div class="ui-line _black anime-width-right" data-anime-delay="1s" data-anime-speed="1s"
            data-anime-trigger="3"></div>
        <div class="two-side__top">
            <div class="tl1 txt-up anime-translate-bottom">
                <p class="anime-translate-t">
                    Архитектурный <br />
                    проект
                </p>
            </div>
            <div class="txt22 txt-up anime-translate-bottom">
                <p class="anime-translate-t" data-anime-delay=".3s">
                    что входит в услугу <br />
                    проекта
                </p>
            </div>
        </div>
        <ul class="two-side__grid">
            <li class="two-side__grid-el">
                <div class="two-side__grid-el-img anime-height-bottom" data-anime-delay=".3s">
                    <img src="./assets/images/heading-main.png" alt="">
                </div>
            </li>
            <li class="two-side__grid-el ">
                <p class="tl3 txt-up anime-height-bottom two-side__grid-el-text" data-anime-delay=".3s">
                    Эскизный проект
                </p>
                <ul class="ui-list txt20 anime-height-bottom" data-anime-delay=".3s">
                    <li>
                        Разработка схемы генерального
                        плана участка
                    </li>
                    <li>
                        Планировка всех этажей
                    </li>
                    <li>
                        Визуализация экстерьера
                    </li>
                    <li>
                        Альбом чертежей фасадов, планов этажей, кровли, лестничных разрезов и других технических
                        документов для проектной организации
                    </li>
                </ul>

                <div class="two-side__grid-el-price txt14 txt-up anime-translate-bottom" data-anime-trigger="2"
                    data-anime-delay=".3s">
                    <p class="anime-translate-t">
                        Стоимость <br />
                        архитектурного проекта
                    </p>
                </div>
                <div class=" txt22  anime-translate-bottom" data-anime-trigger="2" data-anime-delay=".3s">
                    <p class="anime-translate-t">
                        4500 ₽ / м <sup>2</sup>
                    </p>
                </div>

            </li>
            <li class="two-side__grid-el">
                <div class="two-side__grid-el-img anime-height-bottom" data-anime-delay=".6s">
                    <img src="./assets/images/heading-main.png" alt="">
                </div>
            </li>
            <li class="two-side__grid-el">
                <p class="tl3 txt-up anime-height-bottom two-side__grid-el-text" data-anime-delay=".6s">
                    Помощь с выбором <br /> участка
                </p>

                <div class="two-side__grid-el-text _grid">
                    <p class="txt20 anime-height-bottom" data-anime-delay=".6s">
                        Оплачивается отдельно, <br />
                        учитывается в общей стоимости <br />
                        договора при заказе проекта
                    </p>

                    <button data-modal="request" class="btn-primary _black">
                        <span class="btn-primary-anchor">
                            <span class="btn-primary-c">
                                <span class="btn-primary-text anime-height-top" data-anime-trigger="3"
                                    data-anime-delay="1s">
                                    закажите звонок <br />
                                    в удобное для вас <br />
                                    время
                                </span>
                                <span class="ui-icon _arrow-black-right anime-height-bottom" data-anime-trigger="3"
                                    data-anime-delay="1s">
                                </span>
                            </span>
                            <span class="btn-primary-circle anime-height-bottom" data-anime-trigger="3"
                                data-anime-delay="1s"></span>
                        </span>
                    </button>

                </div>
            </li>

        </ul>
    </div>
</section>