<section class="video-about section-with-topper" ata-anime-header="2" data-isvideo="y" data-anime-states="2" data-anime-desktops="2">
    <div class="video-about__c-main section-with-topper__main anime-height-top">
      <div class="ui-line anime-width-right" data-anime-trigger="2" data-anime-delay="1.5s" data-anime-speed="1s">
      </div>

      <button class="btn-primary">
        <span class="btn-primary-anchor">
          <span class="btn-primary-c">
            <span class="btn-primary-text col-wh anime-height-bottom" data-anime-trigger="1"
              data-anime-trigger-desktop="1" data-anime-delay="1s">
              видео <br />
              о нас
            </span>
            <span class="ui-icon anime-height-top" data-anime-trigger="1" data-anime-trigger-desktop="1"
              data-anime-delay="1s">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18 12L6 18.9282L6 5.0718L18 12Z" stroke="#FFFEF8" stroke-width="1.5" />
              </svg>

            </span>
          </span>
          <span class="btn-primary-circle anime-height-bottom" data-anime-trigger="1" data-anime-trigger-desktop="1"
            data-anime-delay="1s"></span>
        </span>
      </button>

      <div class="video-about__c-main-img">
        <video muted loop="true" poster="./assets/images/heading-main.png">
          <source  src="./assets/videos/vidos.mp4" type="video/mp4">
        </video>

      </div>
    </div>
    <div class="video-about__c-top section-with-topper__top">
      <div class="container">
      </div>
    </div>
  </section>