
/* @font-face {
  font-family: 'Random Grotesque Spacious Book';
  src: url('../assets/fonts/Random Grotesque Spacious Book.eot');
  src: local('Random Grotesque Spacious Book'), local('Random Grotesque Spacious Book'),
      url('../assets/fonts/Random Grotesque Spacious Book.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Random Grotesque Spacious Book.woff2') format('woff2'),
      url('../assets/fonts/Random Grotesque Spacious Book.woff') format('woff'),
      url('../assets/fonts/Random Grotesque Spacious Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Arsenica Trial';
  src: url('../assets/fonts/Arsenica Trial.eot');
  src: local('Arsenica Trial'), local('Arsenica Trial'),
      url('../assets/fonts/Arsenica Trial.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Arsenica Trial.woff') format('woff'),
      url('../assets/fonts/Arsenica Trial.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

 */