
$black: rgba(64, 70, 79, 1);
$black20: rgba(64, 70, 79, 0.2);
$white: white;
$bg: #ffffff;
$gray: rgba(242, 242, 245, 1);
$red: rgba(217, 56, 56, 1);
$green: rgb(94, 217, 56);
$pink: rgba(247, 207, 221, 1);
$sectionGap: 15rem;
$sectionGapMobile: 15rem;
$contentWidth: 185.6rem;
$mobilePadding: 3rem;


html {
  font-family: 'sans-serif'; // шрифт по умолчанию по сайту
  font-size: 0.5208335vw; // на разрешении 1920 0.520835vw === 10px
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  --col-debug: #ffffff;

  @media (min-width: 1920px) {
    font-size: 10px;
  }

  @include mobile {
    font-size: 5px;
    font-size: 1.5625vw;
    font-size: calc((100 / 375) * 5vw); // где 375 это ширина моб версии макета
    -webkit-text-size-adjust: none;
  }
}



body {
  background-color: $bg;
  color: $black;
  line-height: 1.2;
  margin: 0;
  padding: 0;

  @include mobile {
    -webkit-text-size-adjust: none;
  }

  ._lock & {
    overflow: hidden;
    touch-action: none;
  }
}


.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  position: relative;
  // overflow: hidden;
}

.container {
  width: $contentWidth;
  margin: 0 auto;

  @include mobile {
    width: 100%;
    padding-left: $mobilePadding;
    padding-right: $mobilePadding;
  }
}


// main
main {
  flex-grow: 1;

  section {
    margin-top: $sectionGap;

    @include mobile {
      margin-top: $sectionGapMobile;
    }
     &:first-of-type{
      margin-top: 0;
      padding-top: 3.2rem;
      @include mobile{
        padding-top: 17.2rem;
      }
     }
  }
}


.desktop {
  @include mobile {
    display: none;
  }

}



.mobile {
  @include desktop {
    display: none;
  }

}


*,
*::before,
*::after {
  box-sizing: border-box;
}


input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}


input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

