.news-item {
    &__img {
        display: flex;
        position: relative;
        height: 47rem;
        width: 100%;
        flex-direction: column;
        justify-content: space-between;

        @include mobile {
            height: 74rem;
        }

        /*    &::before {
            content: '';

            position: absolute;
            top: 0rem;
            left: 0rem;
            width: 17.3rem;
            height: 14.6rem;
            background-color: var(--col-debug);
            mask-image: url('../assets/images/mask/news-item.svg');
            -webkit-mask-image: url('../assets/images/mask/news-item.svg');
            mask-size: 100% 100%;
            -webkit-mask-size: 100% 100%;
            z-index: 1;

            @include mobile {

                width: 28.3rem;
                height: 21.6rem;
            }
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0rem;
            right: 0rem;
            width: 17.3rem;
            height: 14.6rem;
            background-color: var(--col-debug);
            mask-image: url('../assets/images/mask/news-item.svg');
            -webkit-mask-image: url('../assets/images/mask/news-item.svg');
            mask-size: 100% 100%;
            -webkit-mask-size: 100% 100%;
            z-index: 1;
            transform: scale(-1, -1);

            @include mobile {

                width: 28.3rem;
                height: 21.6rem;
            }
        }
 */
        &-self {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            z-index: -1;
            mask-image: url('../assets/images/mask/news.svg');
            -webkit-mask-image: url('../assets/images/mask/news.svg');
            mask-size: 100%;
            -webkit-mask-size: 100%;
            mask-repeat: no-repeat;
            overflow: hidden;

            & img {
                object-fit: cover;
                object-position: center;
            }
        }

        &-arrow {
            align-self: flex-end;
            margin-bottom: 1rem;
            margin-right: 1rem;
            position: relative;
            z-index: 2;


            & img {
                @include mobile {
                    width: 7.2rem;
                }
            }

        }

        &-date {
            margin-top: 1rem;
            margin-left: 1rem;
            position: relative;
            z-index: 2;


        }
    }

    &__name {
        @include wrap-text(3);
        margin-top: 3rem;
        margin-bottom: 2.8rem;
    }

    &__tags {
        display: flex;
        gap: 2rem;
    }
}