.product-item {

    display: flex !important;
    flex-direction: column;


    @include mobile {}

    &-img {
        display: flex;
        width: 100%;
        position: relative;
        height: max-content;
        height: 45rem;
        padding-top: 6rem;

        @include mobile {
            height: 40rem;
        }



        & img {
            object-fit: cover;
            object-position: top;
        }
    }

    &-ttl {
        @include wrap-text(2);

        margin: 1rem 0 2rem;
        flex-shrink: 0;
        padding: 0 2.8rem;
        box-sizing: border-box;
        @include mobile{
            padding: 0;
        }
    }

    &-arrow {
        display: block;
        position: absolute;
        top: 0;
        right: 2rem;

        z-index: 1;
        @include mobile{
            right: 0;
        }

    }

    &__ml {
        position: absolute;
        top: 2rem;
        left: 2rem;
        @include mobile{
            left: 0;
        }

    }

    &-info {
        display: flex;
        justify-content: space-between;
        gap: 2rem;
        align-items: flex-start;
        flex-shrink: 0;
        padding: 0 2.8rem 2.8rem;
        box-sizing: border-box;
        @include mobile{
            padding: 0;
        }

        & .txt17 {
            flex-shrink: 0;
        }
    }
}