
/* @font-face {
  font-family: 'Circe';
  src: url('../assets/fonts/Circe.eot');
  src: local('Circe'), local('Circe'),
      url('../assets/fonts/Circe.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Circe.woff2') format('woff2'),
      url('../assets/fonts/Circe.woff') format('woff'),
      url('../assets/fonts/Circe.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: 'Forum';
  src: url('../assets/fonts/Forum.eot');
  src: local('Forum'), local('Forum'),
      url('../assets/fonts/Forum.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/Forum.woff') format('woff'),
      url('../assets/fonts/Forum.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
 */


