.advantages {
    @include mobile {
        & .container {
            padding-left: 0;
            padding-right: 0;
        }

        & .section-heading {
            padding: 0 1.5rem;
        }
    }
}

.advantages-slide {
    display: grid;
    grid-template-rows: 22rem 18rem;

    @include mobile {
        grid-template-rows: 40rem 33rem;

    }

    &__img {
        background-color: $blue-lighter;
        display: flex;
        border-radius: 3rem 3rem 0 0;
        height: 22rem;
        overflow: hidden;

        @include mobile {
            height: 40rem;
        }

        & img {
            border-radius: 3rem 3rem 0 0;
            object-fit: contain;
            object-position: center;
        }
    }

    &__footer {
        border: .2rem solid $blue-lighter;
        border-radius: 0 0 3rem 3rem;
        padding: 3.2rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 1.2rem;

        @include mobile {
            gap: 2rem;
        }
    }
}