.heal-stages {
    &._4 {
        & .heal-stages__list {
            grid-template-columns: 1fr 1fr;

            @include mobile{
                grid-template-columns: 100%;
                grid-template-rows: auto;
            }
        }
    }

    &._5 {
        & .heal-stages__list {
            grid-template-columns: 1fr 1fr 1fr;
            @include mobile{
                grid-template-columns: 100%;
                grid-template-rows: auto;
            }
            &-e:first-of-type {
                @include desktop{
                    grid-column: 1 / span 2;

                }
            }
        }
    }

    &__list {
        display: grid;
        gap: 3.2rem;
        grid-template-rows: 1fr 1fr;
       
        &-e{
            background-color: $blue-lighter;
            border: .1rem solid $blue;
            border-radius: 3rem;
            &-top{
                padding: 3.2rem;
                box-sizing: border-box;
                display: flex;
                align-items: center;
                gap: 2rem;
                border-bottom: .1rem solid $blue;
                & button{
                    margin-left: auto;
                }

            }
            &-bottom{
                padding: 3.2rem;
                box-sizing: border-box;  
                display: flex;
                flex-direction: column;
                gap: 3rem;
            }
        }
    }
}