.advantages {
    display: flex;

    &__c {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: min-content;
        gap: 2.4rem;
        position: relative;

        @include mobile {
            grid-template-columns: 100%;
            grid-auto-rows: min-content;
            & .tl1{
                margin-bottom: 6rem;
            }
        }

        &-img {
            @include desktop {
                width: calc(50% - 2.4rem);
                position: absolute;
                top: 0;
                right: 0;
                
            }

            height: 100%;
            display: flex;
            clip-path: inset(100% 0 0% 0);
            transition: clip-path .5s linear;
            z-index: 1;
            @include mobile{
                display: none;
            }


            &:first-of-type {
                z-index: -1;

            }

            & img {
                object-fit: cover;
            }
        }

        &-el {
            grid-column: 1;
            display: flex;
            gap: 2.6rem;
            align-items: center;
            position: relative;
            padding-bottom: 2rem;
            & .ui-line{
                bottom: 1rem;
            }

            &-count {
                height: 7rem;
                width: 7rem;
                border-radius: 50%;
                border: 1px solid $black16;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
            }

            &-text {
                display: flex;
                flex-direction: column;
                gap: .8rem;
            }

            @for $i from 1 through 7 {
                &._hover:hover {
                    &+.advantages__c-img {
                        clip-path: inset(0% 0 0% 0);
                    }
                }
            }
        }

    }
}