.gallery {
    padding-bottom: 0;
    @include mobile{
        padding-bottom: 0;
    }
    & .swiper{
        overflow: visible;
    }

    &__c {
        height: 100%;

        &-head {
            display: flex;
            flex-direction: column;
            gap: 20rem;
            height: 70dvh;
            @include mobile{
                height: 84dvh;
            }
           

            &-list {
                display: flex;
                height: fit-content;
                justify-content: flex-end;
                border-top: 1px solid $black16;
                @include mobile{
                    display: grid;
                    grid-template-columns: 1fr 1fr ;
                    grid-template-rows: 1fr 1fr;
                    gap: 0 8rem;
                    border-bottom: 1px solid $black16;
                }

                &-el {
                    width: 25rem;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    padding: 2.5rem 4rem;
                    border-right: 1px solid $black16;

                    &:first-of-type {
                        margin-right: auto;
                        padding-left: 0;
                    }

                    &:last-of-type {
                        border-color: transparent;
                    }
                    @include mobile{
                        &:nth-child(1), &:nth-child(3){
                            padding-left: 0;
                            justify-self: flex-start;
                             border-right: none;
                             border-left:none;
                        }
                        &:nth-child(2), &:nth-child(4){
                            padding-right: 0;
                            border-right: none;
                            border-left: 1px solid $black16;
                            justify-self: flex-end;
                        }
                    }

                }
            }

            &-text {
                margin: 0 auto;
                padding: 14rem;
                @include mobile{
                    padding: 0;
                    text-align: left !important;
                }

            }
        }

        &-plan {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 4.4rem;
            height: calc(100dvh - 12rem - 3rem);
            width: 100%;
            display: grid;
            @include mobile{
                grid-template-columns: 100%;
            }

            &-img {
                display: flex;
                object-fit: contain;
                object-position: top;
            }

            &-text {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 4.4rem;


                & * {
                    width: fit-content;
                }
            }
        }

        &-text {
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 14rem;
        }

        &-img {
            height: calc(100dvh - $headerGap - 6rem);
            width: 100%;
            display: flex;

            & img {
                object-fit: cover;
                object-position: center;
            }

            &._two {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 3rem;
            }

            &-img {
                display: flex;

                & img {
                    object-fit: cover;
                    object-position: center;
                }
            }


        }
    }
}