.our-projects {
    display: flex;
    padding-top: 0;
    padding-bottom: 0;

    @include desktop {

        &[data-anime-desktop='1'] {
            & .our-projects__c-top {
                clip-path: inset(0% 0% 0% 0);
            }
         
        }

        &[data-anime-desktop='2'] {
            & .swiper-navigation {
                opacity: 1;
                margin-bottom: 20dvh;
                transform: translate(-50%, 0);
            }

            & .our-projects__c-top {
                clip-path: inset(0% 0% 100% 0);
            }

            & .our-projects__c-main-slide-body-values {
                clip-path: inset(0% 0 0% 0);
            }

            & .our-projects__c-main-slide-body {
                margin-bottom: 20dvh;
            }

            & .ui-line {
                margin-bottom: 26dvh;
            }


        }
    }

    @include mobile {
        padding-top: 0;
        padding-bottom: 0;

        &[data-anime-state='1'] {
            & .our-projects__c-top {
                clip-path: inset(0% 0% 0% 0);
            }

        }

        &[data-anime-state='2'] {
            & .our-projects__c-top {
                clip-path: inset(0% 0% 100% 0);
            }

            & .swiper-navigation {
                opacity: 1;

            }


        }
    }

    &__c {


        &-top {
            transition: clip-path 1s ease-in-out;
            overflow: hidden;

            & .container {
                display: grid;
                grid-template-columns: auto auto;
                gap: 7rem;

                @include mobile {
                    display: flex;
                    flex-direction: column;
                    gap: 4.8rem;
                }

            }

            &-body {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
                width: 60rem;

                &._projects {
                    align-self: center;
                }

                @include mobile {
                    width: 100%;
                }

                & .btn-second {
                    margin-top: 1.6rem;

                    @include mobile {
                        margin-top: 4.8rem;
                    }
                }


            }

            &-filter {
                display: flex;
                border-top: 1px solid $black40;
                width: 100%;
                grid-column: 1 / span 2;

                @include mobile {
                    flex-direction: column;
                    border: none;
                }

                &-el {
                    padding: 3rem 5.6rem 1.8rem;
                    box-sizing: border-box;
                    border-right: 1px solid $black40;
                    transition: background-color .2s linear, color .2s linear;
                    cursor: pointer;
              

                    & input {
                        display: none;

                        &:checked+span {
                            opacity: 1;
                        }
                    }

                    & span {
                        opacity: 0.7;
                    }

                    &:nth-child(2) {
                        margin-left: auto;

                        @include mobile {

                            margin: 0;
                        }
                    }

                    &:last-of-type {
                        border: none;

                        @include mobile {
                            border-top: 1px solid $black40;

                        }
                    }

                    @include hover {
                        background-color: $black;
                        color: $white;
                    }

                    @include mobile {
                        padding-left: 0;
                        border: none;
                        border-top: 1px solid $black40;

                    }
                }
            }

        }

        &-main {

            & .swiper-navigation {
                position: absolute;
                opacity: 0;
                bottom: 0;
                left: 50%;
                display: flex;
                justify-content: flex-end;
                z-index: 3;
                height: fit-content;

                transform: translateX(-50%);
                transition: opacity 1s ease-in-out, margin 1s ease-in-out;

                @include desktop {
                    margin-bottom: 20.4rem;
                }

                @include mobile {
                    bottom: 12rem;
                    margin-bottom: 0;
                }
            }

            & .ui-line {
                position: absolute;
                left: 0;
                bottom: 0;
                margin-bottom: 25.7rem;
                /* 11.3 */
                width: 100%;
                z-index: 3;
                transition: margin 1s ease-in-out;


                @include mobile {
                    margin-bottom: 0;
                    top: 70rem;
                }
            }

            &-slide {
                position: relative;
                display: flex;
                align-items: flex-end;
                justify-content: center;

                &-body {
                    margin-bottom: 20rem;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    gap: 5.6rem;
                    box-sizing: border-box;
                    padding-left: 30rem;
                    transition: margin 1s ease-in-out;

                    @include mobile {
                        padding-left: 0;
                        margin: 0;
                        box-sizing: border-box;
                        height: 100%;
                        padding-top: 64rem;
                        padding-bottom: 12rem;
                        justify-content: space-between;
                        width: calc(100% - 6rem);

                    }


                    & .btn-primary {
                        left: 21rem;
                        position: absolute;
                        transition: opacity 1s linear;
                        @include desktop{
                            bottom: 20rem;

                        }



                        @include mobile {
                            top: 56rem;
                            left: calc(100% - 18rem);


                        }
                    }

                    &-top {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-end;

                        @include mobile {
                            max-width: 50%;
                            flex-direction: column;
                            justify-content: flex-start;
                            align-items: flex-start;
                            gap: 3.6rem;
                        }

                    }

                    &-values {
                        display: flex;
                        gap: 3.2rem;
                        width: fit-content;
                        align-items: baseline;

                        @include desktop {
                            clip-path: inset(100% 0 0% 0);
                            transition: clip-path .5s linear .5s;
                        }
                    }

                }

            }
        }

    }

}