.arch-heading {
    position: relative;
    display: flex;

    & .ui-bg {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;

    }

    & .ui-line {
        z-index: 2;
        left: 0;

        @include desktop {
            bottom: 30rem;
        }

        @include mobile {
            top: 39rem;
        }

    }

    &__c {
        position: relative;
        z-index: 2;
        display: grid;
        grid-template-columns: 32rem auto 46rem;
        grid-template-areas:
            '. top .'
            'btn ttl .'
            ' . we bottom';
        gap: 9rem 2.6rem;
        margin-top: auto;
        height: fit-content;

        @include mobile {
            grid-template-columns: 1.1fr 1fr;
            grid-template-areas:
                'ttl btn'
                'we we'
                'top top'
                'bottom bottom';
            padding-top: 33rem;
            padding-bottom: 0;
            gap: 5rem 0;

        }


        & .tl1 {
            grid-area: ttl;
            height: fit-content;
            position: relative;

            @include desktop {
                margin-bottom: 15rem;
                margin-top: 9rem;
            }
        }

        & .txt22 {
            height: fit-content;
            grid-area: we;

            @include mobile {
                align-self: flex-end;
                margin-top: 4rem;
                margin-bottom: 20dvh;
            }
        }

        &-top {
            height: fit-content;
            grid-area: top;

            @include desktop {
                justify-self: flex-end;
            }
        }

        &-bottom {
            height: fit-content;
            grid-area: bottom;
        }




        &-price {
            grid-area: price;
            display: flex;
            gap: 8rem;
            align-self: center;

            &-el {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
            }
        }

        & .btn-primary {
            grid-area: btn;
            width: fit-content;
            height: fit-content;
            margin-left: 22rem;
            transform: translateY(10rem);

            @include mobile {
                transform: translateY(0);

                margin-left: 12rem;
            }
        }
    }
}


.arch-follow {
    @include desktop {
        padding-bottom: 4rem;

        & .arch-follow__body-text::after {
            opacity: 0;
        }

        &.anime-start {
            & .arch-follow__body-text::after {
                opacity: 1;
            }
        }
        &.anime-over{
            & .arch-follow__body-text::after {
                transition-delay: 0;
                opacity: 0;
            }  
        }
    }

    & .container {}

    &__top {
        display: flex;
        margin-bottom: 4rem;
        position: relative;

        @include mobile {
            flex-direction: column;
            gap: 3.2rem;
            margin-bottom: 5rem;
            margin-top: 12rem;
        }

        & .ui-line {
            top: 13rem;
            @include mobile{
                top: 9.5rem;
            }
        }

        & .btn-primary {
            margin-left: 30rem;
            transform: translate(-10rem, 18%);

            @include mobile {
                margin-left: auto;
                transform: translate(-20rem, -25%);
            }

        }

        & .tl1 {
            align-self: flex-end;

            @include mobile {
                align-self: flex-start;
            }
        }

        & .txt20 {
            margin-bottom: 13rem;
            margin-left: auto;

            @include mobile {
                margin-left: 0;
                margin-bottom: 0;
            }
        }
    }

    @include mobile {
        &[data-anime-state='1'] {
            & .arch-follow__body {

                grid-template-rows: 60rem min-content;
            }
        }

        &[data-anime-state='2'] {
            & .arch-follow__body {
                grid-template-rows: 0rem min-content;
            }
        }
    }

    &__body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4.4rem;
        height: 50rem;

        @include mobile {
            grid-template-columns: 100%;
            grid-template-rows: 60rem min-content;
            height: auto;
            transition: grid .5s linear;
        }

        &-img {
            display: flex;

            @include mobile {
                height: 100%;
                overflow: hidden;
            }

            & img {
                object-fit: cover;
                object-position: bottom;

            }
        }

        &-text {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: min-content min-content auto;
            height: 100%;
            gap: 5rem;

            @include desktop {
                position: relative;

                &::after {
                    content: '';
                    background-color: rgba(20, 14, 10, 0.16);
                    position: absolute;
                    top: 0;
                    left: 50%;
                    width: 1px;
                    height: 100%;
                    transform: translateY(-11rem);
                    transition: opacity .5s linear 2s;
                }
            }

            @include mobile {
                grid-template-columns: 100%;
                gap: 3rem;
            }

            &-price {
                align-self: flex-end;
            }
        }

    }

}

.arch-care {

    & .container {
        @include mobile {
            padding-left: 0;
            padding-right: 0;
        }
    }

    & .swiper {
        @include mobile {
            transition: transform .5s ease-in-out;
        }
    }

    &__top {

        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        margin-bottom: 4.4rem;

        @include mobile {
            padding-left: $mobilePadding;
            padding-right: $mobilePadding;
            grid-template-columns: 100%;
            gap: 3.2rem;
        }

        & .tl1 {
            grid-column: 1;
            grid-row: 1 / span 2;

            @include mobile {
                grid-row: 2;
            }
        }

        & .txt22 {
            grid-column: 2;
            grid-row: 1;

            @include mobile {
                grid-row: 1;
                grid-column: 1;
            }
        }



        & .btn-second {
            grid-row: 2;
            grid-column: 2;
            margin: 6rem 0 2.8rem;

            @include mobile {
                grid-row: 3;
                grid-column: 1;
            }
        }
    }

    & .swiper {
        @include mobile {
            padding-left: $mobilePadding;

            & .swiper-slide {
                overflow: visible;
            }

            & .swiper-slide-active {

                & .arch-care__slide-text {
                    opacity: 1;
                }
            }
        }
    }


    &__slide {
        height: 60dvh;
        max-height: 79rem;
        display: grid;
        grid-template-rows: 60% auto;

        gap: 4.4rem;

        @include mobile {
            max-height: 90rem;
        }

        &-img {
            display: flex;
            object-position: top;

            & img {
                object-fit: cover;
                object-position: center;
            }

        }

        &-text {

            display: flex;
            flex-direction: column;
            gap: 1.6rem;

            @include mobile {
                opacity: 0;
                transition: opacity .5s ease-in-out;
                position: relative;

                & .txt20 {
                    position: absolute;
                    top: 7rem;
                    left: 0;
                    width: 90vw;

                }
            }
        }

    }
}