.complects-heading {
    position: relative;
    display: flex;

    & .ui-bg {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;

    }

    & .ui-line {
        z-index: 2;
        left: 0;

        @include desktop {
          bottom: 22rem;
        }

        @include mobile {
            top: 39rem;
        }

    }

    &__c {
        position: relative;
        z-index: 2;
        display: grid;
        grid-template-columns: 32rem auto 46rem;
        grid-template-areas:
            '. . .'
            'btn ttl .'
            ' . we small';
        gap: 11rem 2.6rem;
        margin-top: auto;
        height: fit-content;

        @include mobile {
            grid-template-columns: 1fr .3fr;
            grid-template-areas:
                'ttl btn'
                'we we'
                'small small';
            padding-top: 33rem;
           /*  padding-bottom: 10rem; */
           height: 100%;
           justify-content: space-between;

        }


        & .tl1 {
            grid-area: ttl;
            height: fit-content;
            position: relative;
        }

        & .txt20 {
            height: fit-content;

            grid-area: small;


        }

        & .txt22 {
            height: fit-content;

            grid-area: we;

            @include mobile {
                align-self: flex-end;
            }
        }

        &-price {
            grid-area: price;
            display: flex;
            gap: 8rem;
            align-self: center;

            &-el {
                display: flex;
                flex-direction: column;
                gap: 1.6rem;
            }
        }

        & .btn-primary {
            grid-area: btn;
            width: fit-content;
            height: fit-content;
            margin-left: 22rem;

            @include mobile {
                margin-left: -2rem;
                margin-top: -5rem;
            }
        }
    }
}