.contacts {
    display: grid !important;
    padding-top: 0;
    padding-bottom: 0;
    grid-template-columns: 100%;
    grid-template-rows: 55dvh 45dvh 0rem;
    transition: grid 1s ease-in-out;

    @include desktop {
        &[data-anime-desktop='1'] {
            grid-template-rows: 55dvh 45dvh 0rem;

        }

        &[data-anime-desktop='2'] {
            grid-template-rows: 30dvh 50dvh 20rem;
        }
    }

    @include mobile {
        padding-top: 0;
        padding-bottom: 0;
        grid-template-rows: 100dvh 0dvh 0dvh;

        &[data-anime-state='1'] {
            grid-template-rows: 100dvh 0dvh 0dvh;
        }

        &[data-anime-state='2'] {
            grid-template-rows: 0dvh 100dvh 0dvh;

            & .contacts-info__c {
                padding-top: 32rem;
            }
        }

        &[data-anime-state='3'] {
            grid-template-rows: 0dvh 65dvh 35dvh;

            & .contacts-info {
                &__c {
                    gap: 5rem 13rem;
                    grid-template-rows: 0rem 0rem 0rem 0rem 16rem 100rem;
                }
            }
        }

    }
}

.contacts-top {
    height: 100%;
    display: flex;
    width: 100%;
    overflow: hidden;

    &__wrp {
        position: relative;
        z-index: 1;
        flex-grow: 1;
        padding-bottom: 11rem;
        display: flex;

        @include mobile {
            padding-top: 16rem;
        }
    }

    & .ui-line {
        @include desktop {
            bottom: 18rem;
        }

        z-index: 2;

        @include mobile {
            top: 41rem;
        }
    }

    &__c {
        display: grid;
        grid-template-columns: 37rem auto;
        gap: 7rem;
        align-items: flex-end;
        margin-top: auto;

        @include mobile {
            margin-top: 0;
            margin-bottom: auto;
            grid-template-areas: 'text btn';
            grid-template-columns: 43rem auto;
            gap: 0;
            margin-top: 18rem
        }

        &-text {
            display: flex;
            flex-direction: column;
            gap: 2.6rem;

            @include mobile {
                grid-area: text;
            }
        }

        & .btn-primary {

            margin-left: 50%;
            margin-bottom: auto;

            @include mobile {
                grid-area: btn;
                margin-left: 43%;
            }
        }
    }
}



.contacts-info {
    height: 100%;


    &__c {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 7rem 13rem;
        padding-top: 10rem;

        @include mobile {

            grid-template-columns: 100%;
            grid-template-rows: 16rem 16rem 16rem 16rem 0 0rem;
            transition: grid 1s ease-in-out, padding .5s ease-in-out, gap .5s ease-in-out;
        }

        &-el {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;

            @include mobile {
                overflow: hidden;
            }

            &-top {
                margin-bottom: 1.2rem;
            }

            &._form {
                grid-column: 4;
                grid-row: 1 /span 2;

                @include mobile {
                    grid-column: 1;
                    grid-row: 6;
                    /*   max-height: 0;
                    transition: max-height 1s linear; */
                }

                & form {
                    display: flex;
                    flex-direction: row;
                    padding: 6rem 1rem 0 0;
                    @include mobile {
                       padding-top: 8rem;
                    }
                    & .btn-second {
                        transform: translate(-4rem, -4rem);

                        @include mobile {
                            transform: translate(-7rem, -7rem);
                        }
                    }
                }
            }

            &._social {
                transform: translateY(-80%);
            }


        }
    }

}

.contacts-footer {
    & .footer__c {
        @include mobile {
            padding-top: 12rem;
            padding-bottom: 12rem;

        }
    }

}