
@font-face {
  font-family: 'Actay Wide';
  src: url('./assets/fonts/Actay Wide Bd.eot');
  src: local('Actay Wide Bd'),
      url('./assets/fonts/Actay Wide Bd.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Actay Wide Bd.woff2') format('woff2'),
      url('./assets/fonts/Actay Wide Bd.woff') format('woff'),
      url('./assets/fonts/Actay Wide Bd.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}


@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/Inter Bold.eot');
  src: local('Inter Bold'), 
      url('./assets/fonts/Inter Bold.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Inter Bold.woff2') format('woff2'),
      url('./assets/fonts/Inter Bold.woff') format('woff'),
      url('./assets/fonts/Inter Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}


@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto Bold.eot');
  src: local('Roboto Bold'), 
      url('./assets/fonts/Roboto Bold.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Roboto Bold.woff2') format('woff2'),
      url('./assets/fonts/Roboto Bold.woff') format('woff'),
      url('./assets/fonts/Roboto Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto Medium.eot');
  src: local('Roboto Medium'), 
      url('./assets/fonts/Roboto Medium.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Roboto Medium.woff2') format('woff2'),
      url('./assets/fonts/Roboto Medium.woff') format('woff'),
      url('./assets/fonts/Roboto Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto.eot');
  src: local('Roboto'), 
      url('./assets/fonts/Roboto.eot?#iefix') format('embedded-opentype'),
      url('./assets/fonts/Roboto.woff2') format('woff2'),
      url('./assets/fonts/Roboto.woff') format('woff'),
      url('./assets/fonts/Roboto.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}





