@font-face {
  font-family: 'Esqadero FF CY 4F';
  src: url('../assets/fonts/Esqadero FF CY 4F.eot');
  src: local('Esqadero FF CY 4F Medium'), local('Esqadero FF CY 4F'),
    url('../assets/fonts/Esqadero FF CY 4F.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Esqadero FF CY 4F.woff2') format('woff2'),
    url('../assets/fonts/Esqadero FF CY 4F.woff') format('woff'),
    url('../assets/fonts/Esqadero FF CY 4F.ttf') format('truetype');
  font-style: normal;
}


@font-face {
  font-family: 'Idealist Sans';
  src: url('../assets/fonts/Idealist Sans.eot');
  src: local('Idealist Sans'), local('Idealist Sans'),
    url('../assets/fonts/Idealist Sans.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Idealist Sans.woff') format('woff'),
    url('../assets/fonts/Idealist Sans.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;

}

@font-face {
  font-family: 'Idealist Sans';
  src: url('../assets/fonts/Idealist Sans Light.eot');
  src: local('Idealist Sans Light'), local('Idealist Sans Light'),
    url('../assets/fonts/Idealist Sans Light.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/Idealist Sans Light.woff') format('woff'),
    url('../assets/fonts/Idealist Sans Light.ttf') format('truetype');
  font-style: normal;
  font-weight: 200;

}