.btn-primary {
    padding: 3.3rem 6rem;
    box-sizing: border-box;
    border-radius: 1rem;
    display: flex;
    align-items: center;

    font-family: Avanti;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 110%;
    text-align: left;
    text-transform: uppercase;
    gap: 2rem;
    justify-content: center;
    transition: background-color .5s, color .5s;

    @include mobile {
        padding: 4rem 8rem;
        font-size: 3.2rem;
    }

    & svg,
    & img {
        transition: stroke .5s;
        width: 2.4rem;
        height: 2.4rem;

        @include mobile {
            width: 4rem;
            height: 4rem;
        }
    }

    &._white {
        background-color: $white;
        color: $pink;

        & svg {
            stroke: $pink;
        }

        @media (hover:hover) {
            &:hover {
                background-color: $pink;
                color: $white;

                & svg {
                    stroke: $white;
                }
            }

        }

    }

    &._pink {
        background-color: $pink;
        color: $white;

        & svg {
            stroke: $white;
        }

        @media (hover:hover) {
            &:hover {
                background-color: $white;
                color: $pink;

                & svg {
                    stroke: $pink;
                }
            }
        }
    }

    &._purple {
        background-color: $white;
        color: $purple;

        & svg {
            stroke: $purple;
        }
    }

    &._pink-white {
        background-color: $white;
        color: $pink;

        & svg {
            stroke: $pink;
        }
    }
}

.swiper-btn {
    width: 4.7rem;
    height: 3.8rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./assets/images/icons/arrow-right-black-full.svg);

    &:disabled {
        opacity: 0.5;
        cursor: default;
    }

    &-prev {
        transform: rotate(180deg);
    }

    @include mobile {
        width: 7.2rem;
        height: 5.6rem;
    }
}