<li class="about__c-right-tags-e wow animate__fadeInUp">
    <div class="about__c-right-tags-e-wrp">
        <div class="about__c-right-tags-e-bg"></div>

        <div class="about__c-right-tags-e-border"></div>
        <div class="about__c-right-tags-e-wrp-text">
            <div class="about__c-right-tags-e-wrp-text-el">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est totam, ullam rerum placeat praesentium
                tenetur consequatur at aut atque voluptate corporis incidunt animi odio nesciunt magni inventore
                adipisci ea itaque eaque harum cum delectus facilis explicabo dicta. Aut at ratione, enim eveniet
                quaerat rem ea, sed suscipit maiores eligendi dolore?
            </div>
        </div>
    </div>
    <div class="about__c-right-tags-e-wrpText">
        <span class="about__c-right-tags-e-dot">&#8226;</span>
        <span class="about__c-right-tags-e-text">
            <span class="col-green about__c-right-tags-e-one"></span>
            <span class="col-purple about__c-right-tags-e-two"></span>
            <span class="col-green about__c-right-tags-e-three"></span>
        </span>
    </div>

</li>