<footer class="footer">
    <div class="footer__border"></div>
    <div class="footer__c container">
        <a class="footer__c-txt" href="#">
            <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M9.33333 17.6667C13.9357 17.6667 17.6667 13.9357 17.6667 9.33333C17.6667 4.73096 13.9357 1 9.33333 1C4.73096 1 1 4.73096 1 9.33333C1 13.9357 4.73096 17.6667 9.33333 17.6667Z"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round" />
                <path
                    d="M12.6641 6.67422C12.29 5.91172 11.1671 4.57797 8.92123 4.76839C6.6754 4.95922 4.99082 7.05589 5.17832 9.72381C5.36582 12.3917 7.42415 13.9167 9.2954 13.9167C11.5412 13.9167 12.6641 12.0871 12.6641 12.0871"
                    stroke="white" stroke-linecap="round" stroke-linejoin="round" />
            </svg>

            <span class="col-green">2024</span>
        </a>
        <p class="footer__c-txt">ООО «ПОСТПРО 18 СТУДИЯ»</p>
        <p class="footer__c-txt col-green">Все права защищены</p>
        <div class="footer__c-txt footer__c-social">
            <p>Мы в социальных сетях:</p>
            <a href="https://vimeo.com/" target="_blank" class="footer__c-social-link">
                <img src="./assets/images/icons/footer-v.svg" alt="">
            </a>
            <a href="https://www.behance.net/" target="_blank" class="footer__c-social-link">
                <img src="./assets/images/icons/footer-be.svg" alt="">
            </a>
        </div>
        <a href="#top" class="footer__c-up gradient-border">
            <img src="./assets/images/icons/arrow-up-white.svg" alt="">
        </a>
    </div>
</footer>