<li class="portfolio__list-e  wow animate__fadeInUp">
    <div class="portfolio__list-e-img">
        <img src="https://media.formula1.com/image/upload/content/dam/fom-website/manual/Misc/2023manual/Pre-season/February/AMR/AM23_CAR_2548%20TC%2016x9.jpg"
            alt="">
    </div>
    <a class="portfolio__list-e-overlay" data-fancybox href="https://vimeo.com/1014554705">
        <h3 class="portfolio__list-e-overlay-text">top text</h3>
        <p class="portfolio__list-e-overlay-text desktop">middle text</p>
        <p class="portfolio__list-e-overlay-text desktop">bottom text</p>

        <div class="portfolio__list-e-overlay-play">
            <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="25" cy="25" r="24.5" stroke="white" />
                <path
                    d="M35.5 22.4019C37.5 23.5566 37.5 26.4434 35.5 27.5981L22 35.3923C20 36.547 17.5 35.1036 17.5 32.7942V17.2058C17.5 14.8964 20 13.453 22 14.6077L35.5 22.4019Z"
                    fill="white" />
            </svg>
        </div>

    </a>
</li>