

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../assets/fonts/IBM Plex Sans.eot');
  src: local('IBM Plex Sans'), local('IBM Plex Sans'),
      url('../assets/fonts/IBM Plex Sans.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/IBM Plex Sans.woff2') format('woff2'),
      url('../assets/fonts/IBM Plex Sans.woff') format('woff'),
      url('../assets/fonts/IBM Plex Sans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('../assets/fonts/IBM Plex Sans Medium.eot');
  src: local('IBM Plex Sans'), local('IBM Plex Sans'),
      url('../assets/fonts/IBM Plex Sans Medium.eot?#iefix') format('embedded-opentype'),
      url('../assets/fonts/IBM Plex Sans Medium.woff2') format('woff2'),
      url('../assets/fonts/IBM Plex Sans Medium.woff') format('woff'),
      url('../assets/fonts/IBM Plex Sans Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}