@import './mixins';

$black: #15161A;
$dark: #1F1A17;
$white: white;
$bg: #EEEBEC;
$gray: #B0A7AB;
$red: rgba(217, 56, 56, 1);
$red-dark: #661A21;
$green: #9BE931;
$blue: #4EBDF5;
$sectionGap: 20rem;
$sectionGapMobile: 16rem;
$desktopViewPort: 156rem;
$desktopMargins: 14rem; 

html {
  font-family: 'Open Sans'; // шрифт по умолчанию по сайту
  font-size: 0.5208335vw; // на разрешении 1920 0.520835vw === 10px
  font-style: normal;
  font-weight: normal;
  -webkit-animation: bugfix infinite 1s;
  line-height: 1.2;
  margin: 0;
  padding: 0;



  & body{
  
    opacity: 0;
    overflow: hidden;
  }

  &._page-loaded{
    & body{
      opacity: 1;
      overflow: auto;
    }

  }

  @media (min-width: 1920px) {
    font-size: 10px;
  }

  @include mobile {
    font-size: 5px;
    font-size: 1.5625vw;
    font-size: calc((100 / 375) * 5vw); // где 375 это ширина моб версии макета
    -webkit-text-size-adjust: none;
  }
  &._locked {
    overflow: hidden;
    touch-action: none;
  }
}



body {
  background-color: $bg;
  color: $black;
  line-height: 1.2;
  margin: 0;
  padding: 0;

  @include mobile {
    -webkit-text-size-adjust: none;
  }

  
}



.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  position: relative;
  // overflow: hidden;
}

.container {
  width:$desktopViewPort;
  margin: 0 auto;

  @include mobile {
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
  }
}


// main
main {
  flex-grow: 1;

  section {
    margin-top: $sectionGap;

    @include mobile {
      margin-top: $sectionGapMobile;
    }
  }
}


.desktop {
  @include mobile {
    display: none !important;
  }

}



.mobile {
  @include desktop {
    display: none !important;
  }

}


*,
*::before,
*::after {
  box-sizing: border-box;
}


input,
textarea {
  -webkit-animation: bugfix infinite 1s;
  line-height: inherit;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
}

a {
  color: unset;
}

a,
a:hover {
  text-decoration: none;
}

button,
input,
a,
textarea {
  outline: none;
  cursor: pointer;
  font: inherit;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font: inherit;
  margin: 0;
  padding: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

button {
  border: none;
  color: inherit;
  font: inherit;
  text-align: inherit;
  padding: 0;
  background-color: transparent;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}


input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}






@import './ui/ui';