<!-- modals -->
<div class="modal modal-request modal-closer">
   
        
            <div class="modal__c _request">
                <div class="modal__c-closer   ui-bottom-angle _wh _left">
                    <button class="modal__c-close modal-closer"></button>
                    <!--  -->
                    <span class="ui-bottom-angle-line _left"></span>
                    <span class="ui-bottom-angle-round _left"></span>
                 
                </div>
              
                </button>
                <p class="tl1 ">
                    Давайте сотрудничать
                </p>
                <form>
                    <label class="input ">
                        <input type="text" placeholder="placeholder">
                        <span class="input-error"> добавь ._error на лэйбл</span>
                    </label>
                    <label class="input ">
                        <input type="text" placeholder="placeholder">
                        <span class="input-error"> добавь ._error на лэйбл</span>
                    </label>
                    <label class="input ">
                        <input type="text" placeholder="placeholder">
                        <span class="input-error"> добавь ._error на лэйбл</span>
                    </label>
                    <label class="input ">
                        <input type="text" name="phone" placeholder="telephone">
                        <span class="input-error"> добавь ._error на лэйбл</span>
                    </label>

                    <label class="input _row">
                        <textarea type="text" rows="4" placeholder="placeholder"></textarea>
                        <span class="input-error"> добавь ._error на лэйбл</span>
                    </label>
                    <div class="_footer">
                        <label class="input">
                            <input type="checkbox">
                            <span class="input-text">Даю согласие на обработку персональных данных</span>
                        </label>



                        <button class="btn-primary">
                            <span class="btn-primary-text">
                                Отправить
                            </span>
                            <span class="btn-primary-arrow"></span>
                        </button>
                    </div>



                </form>

            </div>
       
   
</div>
<div class="modal modal-success modal-closer">
   
     
            <div class="modal__c _success">
                <div class="modal__c-closer  ui-bottom-angle _wh _left">
                    <button class="modal__c-close modal-closer"></button>
                    <!--  -->
                    <span class="ui-bottom-angle-line _left"></span>
                    <span class="ui-bottom-angle-round _left"></span>
                 
                </div>
                <p class="tl1 ">
                    Заявка отправлена
                </p>
                <p class="txt22">
                    В ближайшее время с Вами свяжется наш менеджер
                </p>
                <a href="#" class="btn-primary">
                    <span class="btn-primary-text">
                       На главную
                    </span>
                    <span class="btn-primary-arrow"></span>
                </a>

            </div>
       
    
</div>
<!-- modals -->
<!-- footer -->
<footer class="footer">
    <div class="container footer__c">
        <ul class="footer__c-top">
            <li>
                <a href="#" class="footer__c-top-logo">
                    <img src="./assets/images/icons/logo-white.svg" alt="">
                </a>
                <p class="txt22 _bold">
                    Ваш надежный партнер <br /> в строительстве
                </p>
            </li>
            <li>
                <a href="#" class="txt18 _bold">О компании</a>
                <a href="#" class="txt18 _bold">О компании</a>
                <a href="#" class="txt18 _bold">О компании</a>
            </li>
            <li>
                <a href="#" class="txt18 _bold">О компании</a>
                <a href="#" class="txt18 _bold">О компании</a>
                <a href="#" class="txt18 _bold">О компании</a>
            </li>
            <li>
                <a class="txt18 _bold" href="tel:1488">
                    <img src="./assets/images/icons/phone.svg" alt="">
                    +7 777 777 77 77
                </a>
                <a class="txt18 _bold" href="#" target="_blank">
                    <img src="./assets/images/icons/geo.svg" alt="">
                    geography
                </a>
                <a class="txt18 _bold" href="mailto:loh@mail.ru">
                    <img src="./assets/images/icons/mail.svg" alt="">
                    example@for.ru
                </a>

            </li>
        </ul>
        <div class="footer__c-bottom">
            <p class="txt18 col-gray">© 2024 Арктон Строй</p>
            <p class="txt18 col-gray">Информация, размещенная на сайте, не является публичной офертой</p>
        </div>

    </div>
</footer>