<section class="heading">
    <div class="heading__c swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide heading__c-slide">
          <div class="heading__c-slide-img">
            <img src="./assets/images/image.png" alt="">
          </div>
          <div class="container heading__c-slide-body">
            <div class="heading__c-slide-body-top">

              <span class="txtBig col-wh">
                Ваш надежный партнер в строительстве
                <button  class="btn-primary modal-opener" data-modal="request">
                 <span class="btn-primary-text"> Оставить заявку</span>
                  <span class="btn-primary-arrow"></span>
                </button>
              </span>
            </div>
            <div class="heading__c-slide-body-bottom col-wh">
              <p class="tl2">Доверьтесь нам!</p>
              <p class="txt22 _bold">
                Специализируемся на предоставлении полного спектра услуг в области строительства, реконструкции и
                капитального ремонта
              </p>
            </div>
          </div>

        </li>
        <li class="swiper-slide heading__c-slide">
          <div class="heading__c-slide-img">
            <img src="./assets/images/image.png" alt="">
          </div>
          <div class="container heading__c-slide-body">
            <div class="heading__c-slide-body-top">

              <p class="txtBig">
                слайд 2
              </p>
            </div>
            <div class="heading__c-slide-body-bootom">
              <p class="tl2">слайд 2 еще раз</p>

            </div>
          </div>

        </li>
        <li class="swiper-slide heading__c-slide">
          <div class="heading__c-slide-img">
            <img src="./assets/images/image.png" alt="">
          </div>
          <div class="container heading__c-slide-body">
            <div class="heading__c-slide-body-top">

              <p class="txtBig">
                слайд 3
              </p>
            </div>
            <div class="heading__c-slide-body-bootom">
              <p class="tl2">слайд 3 еще раз</p>

            </div>
          </div>

        </li>
      </ul>
      <div class="heading__c-footer">
        <div class="heading__c-footer-c ui-pagination-angle _bg">
          <div class="swiper-pagination ">
          </div>
          <span class="ui-pagination-angle-line _right"></span>
          <!--  <span class="ui-pagination-angle-round _right"></span> -->
          <span class="ui-pagination-angle-line _left"></span>
          <!--    <span class="ui-pagination-angle-round _left"></span> -->

        </div>
      </div>

    </div>
  </section>