<section class="our-services">
    <div class="container">
        <div class="our-services__top">
            <div class="ui-heading-angle _bg">
                <p class="tl1">Направления деятельности</p>
                <span class="ui-heading-angle-line _right"></span>
                <span class="ui-heading-angle-line _left"></span>
                <span class="ui-heading-angle-round"></span>
            </div>
            <p class="txt22 _bold mobile">Предоставляем полный спектр услуг в области строительства</p>
            <div class="our-services__top-tags desktop">

                <div class="tag">
                    <span class="tag-top">20+</span>
                    <span class="tag-bottom">лет опыта</span>
                </div>
                <div class="tag">
                    <span class="tag-top">200+</span>
                    <span class="tag-bottom">объектов <br class="desktop" /> построено</span>
                </div>
            </div>
        </div>
        <div class="swiper">
            <ul class="swiper-wrapper">
                <li class="swiper-slide our-services__slide">
                    <a href="" class="our-services__slide-e">
                        <div class="our-services__slide-img">
                            <img src="./assets/images/image.png" alt="">
                        </div>
                        <span class="our-services__slide-counter desktop">

                            01
                        </span>
                        <p class=" tl3">
                            news name Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, odio quidem
                            maiores minima eaque iusto! qweqweqwewqweqew
                        </p>
                        <span class="our-services__slide-link ">
                            <span class="txt18">
                                Подробнее
                            </span>
                        </span>
                    </a>
                </li>
                <li class="swiper-slide our-services__slide">
                    <a href="" class="our-services__slide-e">
                        <div class="our-services__slide-img">
                            <img src="./assets/images/image.png" alt="">
                        </div>
                        <span class="our-services__slide-counter desktop">

                            02
                        </span>
                        <p class=" tl3">
                            название
                        </p>
                        <span class="our-services__slide-link ">
                            <span class="txt18">
                                Подробнее
                            </span>
                        </span>
                    </a>
                </li>
                <li class="swiper-slide our-services__slide">
                    <a href="" class="our-services__slide-e">
                        <div class="our-services__slide-img">
                            <img src="./assets/images/image.png" alt="">
                        </div>
                        <span class="our-services__slide-counter desktop">

                            03
                        </span>
                        <p class=" tl3">
                            ф
                        </p>
                        <span class="our-services__slide-link ">
                            <span class="txt18">
                                Подробнее
                            </span>
                        </span>
                    </a>
                </li>
                <li class="swiper-slide our-services__slide">
                    <a href="" class="our-services__slide-e">
                        <div class="our-services__slide-img">
                            <img src="./assets/images/image.png" alt="">
                        </div>
                        <span class="our-services__slide-counter desktop">

                            04
                        </span>
                        <p class=" tl3">
                            фыв
                        </p>
                        <span class="our-services__slide-link ">
                            <span class="txt18">
                                Подробнее
                            </span>
                        </span>
                    </a>
                </li>
            </ul>

        </div>
        <button class="swiper-btn swiper-btn-prev desktop"></button>
        <button class="swiper-btn swiper-btn-next desktop"></button>
        <div class="our-services__bottom">
            <p class="desktop txt22 _bold">
                Предоставляем полный спектр услуг в области строительства
            </p>
            <div class="our-services__top-tags mobile">

                <div class="tag">
                    <span class="tag-top">20+</span>
                    <span class="tag-bottom">лет опыта</span>
                </div>
                <div class="tag">
                    <span class="tag-top">200+</span>
                    <span class="tag-bottom">объектов построено</span>
                </div>
            </div>
            <div class="our-services__bottom-link ui-bottom-angle _bg">

                <a href="" class="btn-primary">
                    <span class="btn-primary-text">
                        Узнать больше
                    </span>
                    <span class="btn-primary-arrow"></span>
                </a>
                <span class="ui-bottom-angle-line _right"></span>
                <span class="ui-bottom-angle-round _right"></span>

                <span class="ui-bottom-angle-line _left"></span>
                <span class="ui-bottom-angle-round _left"></span>
            </div>
        </div>

    </div>
</section>