<a href="" class="project-card btn-link-overlay">
    <div class="project-card__date tl2 col-red">
        <!-- если нужна 1 дата, добавь класс _solo для спана
         ну и спан, понятное дело, должен быть один -->
        <span>2022</span>
        <span>-2024</span>
    </div>
    <span class="project-card__round _left"></span>
    <span class="project-card__round _right"></span>
    <div class="project-card__img">
        <img src="./assets/images/image.png" alt="">
    </div>
    <div class="txt22 project-card__text txt22 _bold">
        <div class="project-card__text-body">
            <p class="project-card__text-body-data">project card name two row</p>
            <span class="btn-link  ">
            </span>
            <span class="project-card__text-body-bg"></span>
        </div>
       
    </div>
</a>