<section class="request-form">
    <div class="container">
        <div class="request-form__top">
            <div class="request-form__top-heading ui-heading-angle _bg">
                <span class="ui-heading-angle-line _right"></span>
                <span class="ui-heading-angle-line _left"></span>
                <span class="ui-heading-angle-round"></span>
                <p class="tl1">Давайте сотрудничать</p>
            </div>
            <p class="txt22 _bold">
                Мы готовы предложить индивидуальный подход <br class="desktop" />
                к каждому клиенту и решить любые возникающие вопросы
            </p>
        </div>
        <div class="request-form__body">
            <form class="request-form__body-form form">

                <label class="input">
                    <input type="text" name="name" data-required="y" placeholder="placeholder">
                    <span class="input-error"> добавь ._error на лэйбл</span>
                </label>
                <label class="input">
                    <input type="text" name="company" data-required="y" placeholder="placeholder">
                    <span class="input-error"> добавь ._error на лэйбл</span>
                </label>
                <label class="input">
                    <input type="text" data-required="y" name="phone" placeholder="telephone">
                    <span class="input-error"> добавь ._error на лэйбл</span>
                </label>
                <label class="input">
                    <input type="text" name="email" data-required="y" placeholder="placeholder">
                    <span class="input-error"> добавь ._error на лэйбл</span>
                </label>


                <label class="input request-form__body-form-comment">
                    <textarea type="text" placeholder="placeholder"></textarea>
                    <span class="input-error"> добавь ._error на лэйбл</span>
                </label>


                <label class="input request-form__body-form-check">
                    <input type="checkbox">
                    <span class="input-text">Согласие на обработку персональных данных</span>
                </label>


                <button class="btn-primary form-submit">
                    <span class="btn-primary-text">
                       Отправить
                    </span>
                    <span class="btn-primary-arrow"></span>
                </button>



            </form>
            <div class="request-form__body-useless">
                <img src="./assets/images/image.png" alt="">
            </div>
        </div>
    </div>
</section>