<section class="about-us">
    <div class="container about-us__c">
        <a class="about-us__c-link btn-second _arrow btn-second-hover" href="to about page">
            <span class="btn-second__text">подробнее</span>
        </a>
        <div class="about-us__c-text">
            <p class="tl1 _arsen">
                О нас
            </p>
            <p class="tl3">
                Для создания косметических формул faceguide
                 <strong> объединяет науку и природу</strong>
            </p>
            <p class="txt20">
               Lorem ipsum dolor sit amet.
               <br/>
               <br/>
               Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, eos.
            </p>
        </div>
        <div class="about-us__c-images">
            <div class="about-us__c-images-one">
                <img src="./assets/images/heading-main-man-mob.png" alt="">
            </div>
            <div class="about-us__c-images-two">
                <img src="./assets/images/heading-main-man-mob.png" alt="">
            </div>
        </div>
    </div>
</section>