<section class="advantages">
    <div class="container">
        <p class="tl1 txt-center">
            Преимущества
        </p>
        <div class="swiper">
            <button class="swiper-btn swiper-btn-prev"></button>
            <button class="swiper-btn swiper-btn-next"></button>
            <ul class="swiper-wrapper">
                <li class="swiper-slide advantages__slide">
                    <div class="advantages__slide-img">
                        <img src="./assets/images/heading-main-man-mob.png" alt="">
                    </div>
                    <div class="advantages__slide-text">
                        <p class="tl3 txt-center _arsen">
                            Состав, насыщенный полезными ингридиентами
                        </p>
                        <p class="txt20 txt-up">
                            Формулы масел и сывороток для ресниц максимально насыщены полезными ингредиентами   
                        </p>
                    </div>
                </li>
                <li class="swiper-slide advantages__slide">
                    <div class="advantages__slide-img">
                        <img src="./assets/images/heading-main-man-mob.png" alt="">
                    </div>
                    <div class="advantages__slide-text">
                        <p class="tl3 txt-center _arsen">
                            Состав, насыщенный полезными ингридиентами
                        </p>
                        <p class="txt20 txt-up">
                            Формулы масел и сывороток для ресниц максимально насыщены полезными ингредиентами   
                        </p>
                    </div>
                </li>
                <li class="swiper-slide advantages__slide">
                    <div class="advantages__slide-img">
                        <img src="./assets/images/heading-main-man-mob.png" alt="">
                    </div>
                    <div class="advantages__slide-text">
                        <p class="tl3 txt-center _arsen">
                            Состав, насыщенный полезными ингридиентами
                        </p>
                        <p class="txt20 txt-up">
                            Формулы масел и сывороток для ресниц максимально насыщены полезными ингредиентами   
                        </p>
                    </div>
                </li>
                <li class="swiper-slide advantages__slide">
                    <div class="advantages__slide-img">
                        <img src="./assets/images/heading-main-man-mob.png" alt="">
                    </div>
                    <div class="advantages__slide-text">
                        <p class="tl3 txt-center _arsen">
                            Состав, насыщенный полезными ингридиентами
                        </p>
                        <p class="txt20 txt-up">
                            Формулы масел и сывороток для ресниц максимально насыщены полезными ингредиентами   
                        </p>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</section>