<section class="heading">
    <div class="container heading__c">
        <div class="heading__c-bg">
            <picture>
                <source media="(max-width:768px )" srcset="./assets/images/heading-mob.png" type="image/webp">
                <img src="./assets/images/heading.png" alt="">
            </picture>
        </div>
        <div class="ui-bread">
            <a class="ui-bread-el" href="#">главная</a>
            <a class="ui-bread-el" href="#">текущая</a>
        </div>
    </div>
</section>