<section class="our-categories">
    <div class="container">
        <div class="our-categories__top">
            <p class="tl1 _arsen">
                Категории продукции
            </p>

            <div class="swiper-nav">
                <button class="swiper-btn swiper-btn-prev"></button>
                <button class="swiper-btn swiper-btn-next"></button>
            </div>
        </div>
        <div class="swiper">
            <div class="swiper-wrapper">
                <a href="to item" class="swiper-slide our-categories__slide btn-primary-hover">
                    <div class="our-categories__slide-img">
                        <img src="./assets/images/banner-promo.png" alt="">
                    </div>
                    <button class="btn-primary _gray">
                        <span class="btn-primary__text-top"> смотреть</span>
                        <span class="btn-primary__text-bottom"> продукты</span>
                        <span class="btn-primary__arrow"></span>
                    </button>
                    <p class="tl3 our-categories__slide-ttl">
                        item <br />
                        name
                    </p>
                    <p class="txt20 our-categories__slide-count">
                        цифра добавится сама
                    </p>
                </a>
                <a href="to item" class="swiper-slide our-categories__slide btn-primary-hover">
                    <div class="our-categories__slide-img">
                        <picture>
                            <source media="(max-width:768px )" srcset="./assets/images/category1-mob.png" type="image/webp">
                            <img src="./assets/images/category1.png" alt="">
                        </picture>
                    </div>
                    <button class="btn-primary _gray">
                        <span class="btn-primary__text-top"> смотреть</span>
                        <span class="btn-primary__text-bottom"> продукты</span>
                        <span class="btn-primary__arrow"></span>
                    </button>
                    <p class="tl3 our-categories__slide-ttl">
                        item <br />
                        name
                    </p>
                    <p class="txt20 our-categories__slide-count">
                        цифра добавится сама
                    </p>
                </a>
                <a href="to item" class="swiper-slide our-categories__slide btn-primary-hover">
                    <div class="our-categories__slide-img">
                        <picture>
                            <source media="(max-width:768px )" srcset="./assets/images/category1-mob.png" type="image/webp">
                            <img src="./assets/images/category1.png" alt="">
                        </picture>
                    </div>
                    <button class="btn-primary _gray">
                        <span class="btn-primary__text-top"> смотреть</span>
                        <span class="btn-primary__text-bottom"> продукты</span>
                        <span class="btn-primary__arrow"></span>
                    </button>
                    <p class="tl3 our-categories__slide-ttl">
                        item <br />
                        name
                    </p>
                    <p class="txt20 our-categories__slide-count">
                        цифра добавится сама
                    </p>
                </a>
            </div>
        </div>

    </div>
</section>