<section class="our-products">
    <div class="container">
        <!--  -->
        <div class="our-products__top">
            <p class="txt20">
                <span>
                    <svg width="16" height="15" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7.03439 1.08632C7.30005 0.0996399 8.69995 0.0996432 8.96561 1.08632L9.97164 4.82274C10.0643 5.16689 10.3331 5.4357 10.6773 5.52836L14.4137 6.53439C15.4004 6.80005 15.4004 8.19995 14.4137 8.46561L10.6773 9.47164C10.3331 9.5643 10.0643 9.83311 9.97164 10.1773L8.96561 13.9137C8.69995 14.9004 7.30005 14.9004 7.03439 13.9137L6.02836 10.1773C5.9357 9.83311 5.66689 9.5643 5.32274 9.47164L1.58632 8.46561C0.59964 8.19995 0.599643 6.80005 1.58632 6.53439L5.32274 5.52836C5.66689 5.4357 5.9357 5.16689 6.02836 4.82274L7.03439 1.08632Z"
                            fill="#331E26" />
                    </svg>
                </span>
                продукты faceguide
            </p>
            <div class="swiper-nav desktop">
                <button class="swiper-btn swiper-btn-prev"></button>
                <button class="swiper-btn swiper-btn-next"></button>
            </div>
        </div>
        <!--  -->
        <div class="swiper">
            <div class="swiper-wrapper">
                <a href="to item" class="swiper-slide product-item btn-arrow-hover">
                    <div class="product-item-img">
                        <div class="product-item-arrow btn-second _arrow desktop">
                            <span class="btn-second__text">перейти</span>
                        </div>
                        <div class="product-item-arrow btn-arrow mobile"></div>
                        <p class="txt17 txt-up product-item__ml">50 <span>ml</span></p>
                        <img src="./assets/images/test.jpg" alt="">
                    </div>
                    <p class="tl3 product-item-ttl">
                        item name Lorem ipsum dolor sit amet.</p>
                    <div class="product-item-info">
                        <p class="txt20  _14 txt-up"> item type</p>
                       
                    </div>

                </a>
                <a href="to item" class="swiper-slide product-item btn-arrow-hover">
                    <div class="product-item-img">
                        <div class="product-item-arrow btn-second _arrow desktop">
                            <span class="btn-second__text">перейти</span>
                        </div>
                        <div class="product-item-arrow btn-arrow mobile"></div>
                        <p class="txt17 txt-up product-item__ml">50 <span>ml</span></p>
                        <img src="./assets/images/test.jpg" alt="">
                    </div>
                    <p class="tl3 product-item-ttl">
                        item name Lorem ipsum dolor sit amet.</p>
                    <div class="product-item-info">
                        <p class="txt20  _14 txt-up"> item type</p>
                       
                    </div>

                </a>
                <a href="to item" class="swiper-slide product-item btn-arrow-hover">
                    <div class="product-item-img">
                        <div class="product-item-arrow btn-second _arrow desktop">
                            <span class="btn-second__text">перейти</span>
                        </div>
                        <div class="product-item-arrow btn-arrow mobile"></div>
                        <p class="txt17 txt-up product-item__ml">50 <span>ml</span></p>
                        <img src="./assets/images/test.jpg" alt="">
                    </div>
                    <p class="tl3 product-item-ttl">
                        item name Lorem ipsum dolor sit amet.</p>
                    <div class="product-item-info">
                        <p class="txt20  _14 txt-up"> item type</p>
                       
                    </div>

                </a>

            </div>
        </div>
        <!--  -->
        <button class="btn-primary _gray">
             
            <span class="btn-primary__text-top"> перейти</span>
            <span class="btn-primary__text-bottom"> в каталог</span>
            <span class="btn-primary__arrow"></span>
          
        </button>
    </div>
</section>