<section class="our-news">
    <div class="container">

        <div class="our-news__top">
            <p class="section-star txt-up txt20">
                <img src="./assets/images/icons/star.svg" alt="">
                наши новости
            </p>
            <p class="tl2">
                <strong>Эксклюзивные новинки и тренды <br />
                    косметики:</strong> узнайте первым о самых горячих <br />
                продуктах и специальных предложениях!
            </p>
        </div>
        <div class="our-news__list">
            <a href="to news" class="news-item">
                <div class="news-item__img">
                    <p class="news-item__img-date txt20  ui-bordered">
                        20.20
                    </p>
                    <div class="news-item__img-self">
                        <img src="../assets/images/collections-mob.png" alt="">
                    </div>

                    <span class="news-item__img-arrow ui-bordered">
                        <img src="./assets/images/icons/arrow-right-big.svg" alt="">
                    </span>
                </div>

                <p class="tl3 news-item__name">
                    news name
                </p>

                <div class="news-item__tags txt20">
                    <span>tag name</span>
                    <span>tag name</span>
                </div>


            </a>


        </div>

        <button class="btn-primary _gray">
            <span class="btn-primary__text-top"> смотреть</span>
            <span class="btn-primary__text-bottom"> новости</span>
            <span class="btn-primary__arrow"></span>
          </button>
    </div>
</section>