<section class="two-side">
    <div class="container two-side__c">
        <div class="two-side__c-img">
            <img src="./assets/images/heading-main-man-mob.png" alt="">
        </div>
        <div class="two-side__c-text">
            <p class="tl2">
                Косметика с подтвержденной эффективностью <strong>faceguide</strong>
            </p>
            <p class="txt20">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quam, rem.
            </p>
        </div>
    </div>
</section>