<section class="adv-process">
    <div class="container">
        <div class="section-heading">
            <h2 class="tl1">Преимущества процедуры</h2>
        </div>
        <div class="adv-process__c">
            <ul class="adv-process__c-list">
                <li class="adv-process__c-list-e txt28 _medium">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Optio obcaecati fugit distinctio iure
                    repudiandae! Sit natus aliquid deserunt dolorum in molestias. Sed aut fugit, dicta dignissimos
                    dolorum
                </li>
                <li class="adv-process__c-list-e txt28 _medium">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Optio obcaecati fugit distinctio iure
                    repudiandae! Sit natus aliquid deserunt dolorum in molestias. Sed aut fugit, dicta dignissimos
                    dolorum
                </li>
                <li class="adv-process__c-list-e txt28 _medium">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                    Optio obcaecati fugit distinctio iure
                    repudiandae! Sit natus aliquid deserunt dolorum in molestias. Sed aut fugit, dicta dignissimos
                    dolorum
                </li>
            </ul>
            <div class="must-detox__aside">
                <p class="txt32 _medium">Бесплатная консультация</p>
                <p class="txt20">Доверьтесь профессионалам, психологи выездной службы каждый день госпитализируют нескольких
                    пациентов.</p>
    
                <button class="btn-primary _white _arrow mobile-btn txt20 _medium modal-opener" data-modal="request">
                    <span class="btn-primary-text">Оставить завку</span>
                </button>
    
                <p class="tl2 col-bl">24/7</p>
            </div>

        </div>
    </div>
</section>