<section class="advantages">
    <div class="container">
        <div class="section-heading">
            <h2 class="tl1">Преимущества клиники</h2>
        </div>
        <div class="swiper mobile-slider" data-desktop-slides="4">
            <ul class="swiper-wrapper">
                <li class="swiper-slide advantages-slide">
                    <div class="advantages-slide__img">
                        <img src="./assets/images/services/bottle.png" alt="advantages">
                    </div>
                    <div class="advantages-slide__footer">
                        <h3 class="txt20 _medium">Эффективность гарантирована</h3>
                        <p class="txt16">При комплексном лечении
                            результативность гарантирована</p>
                    </div>
                </li>
                <li class="swiper-slide advantages-slide">
                    <div class="advantages-slide__img">
                        <img src="./assets/images/services/bottle.png" alt="advantages">
                    </div>
                    <div class="advantages-slide__footer">
                        <h3 class="txt20 _medium">Эффективность гарантирована</h3>
                        <p class="txt16">При комплексном лечении
                            результативность гарантирована</p>
                    </div>
                </li>
                <li class="swiper-slide advantages-slide">
                    <div class="advantages-slide__img">
                        <img src="./assets/images/services/bottle.png" alt="advantages">
                    </div>
                    <div class="advantages-slide__footer">
                        <h3 class="txt20 _medium">Эффективность гарантирована</h3>
                        <p class="txt16">При комплексном лечении
                            результативность гарантирована</p>
                    </div>
                </li>
                <li class="swiper-slide advantages-slide">
                    <div class="advantages-slide__img">
                        <img src="./assets/images/services/bottle.png" alt="advantages">
                    </div>
                    <div class="advantages-slide__footer">
                        <h3 class="txt20 _medium">Эффективность гарантирована</h3>
                        <p class="txt16">При комплексном лечении
                            результативность гарантирована</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>