<section class="after-heal ">
    <div class="container">
        <div class="section-heading">
            <h2 class="tl1">Постлечебная программа</h2>
        </div>
        <div class="swiper mobile-slider" data-desktop-slides="3">
            <ul class="after-heal__list swiper-wrapper">
                <li class="after-heal__list-e swiper-slide">
                    <div class="after-heal__list-e-img">
                        <img src="./assets/images/services/bottle.png" alt="services">
                    </div>
                    <p class="txt20 _medium">
                        После выхода из реабилитационного центра пациент адаптируется к жизни в социуме
                    </p>
                </li>
                <li class="after-heal__list-e swiper-slide">
                    <div class="after-heal__list-e-img">
                        <img src="./assets/images/services/bottle.png" alt="services">
                    </div>
                    <p class="txt20 _medium">
                        После выхода из реабилитационного центра пациент адаптируется к жизни в социуме
                    </p>
                </li>
                <li class="after-heal__list-e swiper-slide">
                    <div class="after-heal__list-e-img">
                        <img src="./assets/images/services/bottle.png" alt="services">
                    </div>
                    <p class="txt20 _medium">
                        После выхода из реабилитационного центра пациент адаптируется к жизни в социуме
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>