<div class="article">
    <div class="article__img">
        <img src="../assets/images/heading.png" alt="article">
    </div>
    <h3 class="txt32 article__heading">Lorem ipsum dolor sit amet.</h3>
    <p class="txt16 article__body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam exercitationem suscipit
        reprehenderit quibusdam? Impedit sit repellat, consequatur recusandae distinctio nam?
    </p>

    <a href="#" class="article__link btn-second _white txt16 _medium ">
        Читать статью
    </a>

</div>