<section class="blue-banner">
    <div class="container">
        <div class="blue-banner__body">
            <div class="blue-banner__body-row">
                <span class="tag  txt20 _medium">
                    <span class="tag-icon">
                        <img src="./assets/images/icons/lock.svg" alt="lock">
                    </span>
                    100 % анонимно
                </span>

                <span class="tag  txt20 _medium">
                    <span class="tag-icon">
                        <img src="./assets/images/icons/clock.svg" alt="cock">
                    </span>
                    приедем за 20 минут
                </span>

            </div>
            <h2 class="tl2">
                Круглосуточная наркологическая помощь
            </h2>

            <div class="blue-banner__body-row blue-banner__body-contacts ">

                <button class="btn-primary _blue _arrow txt20 _medium modal-opener" data-modal="request">
                    <span class="btn-primary-text">Оставить заявку </span>
                </button>

                <a href="tel:123" class="btn-underline col-bl txt20 _medium">
                    <img src="./assets/images/icons/phone-blue.svg" alt="phone">
                    +7 863 333-58-08
                </a>

            </div>

        </div>
        <div class="blue-banner__img _default">
            <img src="./assets/images/blue-banner.png" loading="lazy" alt="blue-banner">
        </div>
    </div>
</section>