<section class="blue-banner">
    <div class="container">
        <div class="blue-banner__body">
            <div class="blue-banner__body-row">
                <span class="tag  txt20 _medium">
                    <span class="tag-icon">
                        <img src="./assets/images/icons/shield.svg" alt="lock">
                    </span>
                    100 % гарантия
                </span>



            </div>
            <h2 class="tl2">
                Поможем убедить пациента <br/> со сниженной мотивацией
            </h2>

            <div class="blue-banner__body-row blue-banner__body-info">

                <p class="txt20">
                    Доверьтесь профессионалам, психологи выездной службы <br/>
                    каждый день госпитализируют нескольких
                    пациентов.
                </p>

                <button class="btn-primary _white _arrow txt20 _medium modal-opener" data-modal="request">
                    <span class="btn-primary-text">Оставить заявку </span> 
                  </button>
                


            </div>

        </div>
        <div class="blue-banner__img">
            <img src="./assets/images/doctor-2.png" loading="lazy" alt="blue-banner">
        </div>
    </div>
</section>