<section class="clinic-photo">
    <div class="container">
        <div class="section-heading">
            <h2 class="tl1">Лицензии и сертификаты</h2>

            <div class="swiper-navigation desktop">
                <button class="swiper-btn swiper-btn-prev"></button>
                <button class="swiper-btn swiper-btn-next"></button>
            </div>
        </div>
        <div class="swiper">
            <div class="swiper-wrapper">
                <a class="clinic-photo-slide swiper-slide" href="./assets/images/clinic-inside.png"
                    data-fancybox="clinic">
                    <img src="./assets/images/clinic-inside.png" alt="clinic">
                </a>
                <a class="clinic-photo-slide swiper-slide" href="./assets/images/clinic-inside.png"
                    data-fancybox="clinic">
                    <img src="./assets/images/clinic-inside.png" alt="clinic">
                </a>
                <a class="clinic-photo-slide swiper-slide" href="./assets/images/clinic-inside.png"
                    data-fancybox="clinic">
                    <img src="./assets/images/clinic-inside.png" alt="clinic">
                </a>
                <a class="clinic-photo-slide swiper-slide" href="./assets/images/clinic-inside.png"
                    data-fancybox="clinic">
                    <img src="./assets/images/clinic-inside.png" alt="clinic">
                </a>
                <a class="clinic-photo-slide swiper-slide" href="./assets/images/clinic-inside.png"
                    data-fancybox="clinic">
                    <img src="./assets/images/clinic-inside.png" alt="clinic">
                </a>
                <a class="clinic-photo-slide swiper-slide" href="./assets/images/clinic-inside.png"
                    data-fancybox="clinic">
                    <img src="./assets/images/clinic-inside.png" alt="clinic">
                </a>

            </div>
        </div>

    </div>
</section>