<section class="coding-ways">
    <div class="container">
        <div class="section-heading">
            <h2 class="tl1">Способы кодирования</h2>
        </div>
        <ul class="coding-ways__list">
            <li class="coding-ways__list-e">
                <div class="coding-ways__list-e-img">
                    <img src="../assets/images/services/bottle.png" alt="bottle">
                </div>
                <div class="coding-ways__list-e-body">
                    <p class="txt28 _medium">Медикаментозный</p>
                    <p class="txt16">Зависимому вводят (инъекционно, вшиванием капсулы под кожу) лекарственные
                        препараты, не совместимые с этанолом. Даже немного выпив, человек одновременно испытывает
                        симптомы как при интоксикации и сердечном приступе: рвота, тошнота, головокружение, тахикардия,
                        повышенное давление.</p>
                </div>
            </li>
            <li class="coding-ways__list-e">
                <div class="coding-ways__list-e-img">
                    <img src="../assets/images/services/bottle.png" alt="bottle">
                </div>
                <div class="coding-ways__list-e-body">
                    <p class="txt28 _medium">Медикаментозный</p>
                    <p class="txt16">Зависимому вводят (инъекционно, вшиванием капсулы под кожу) лекарственные
                        препараты, не совместимые с этанолом. Даже немного выпив, человек одновременно испытывает
                        симптомы как при интоксикации и сердечном приступе: рвота, тошнота, головокружение, тахикардия,
                        повышенное давление.</p>
                </div>
            </li>
        </ul>
    </div>
</section>