<section class="correct-programm">
    <div class="container correct-programm__c">
        <h2 class="tl1">Программа Коррекции </h2>
        <div class="swiper">
            <ul class="swiper-wrapper">
                <li class="correct-programm__c-slide swiper-slide">
                    <div class="correct-programm__c-slide-img">
                        <img src="./assets/images/heading.png" alt="img">
                    </div>
                    <div class="correct-programm__c-slide-overlay">
                        <span class="correct-programm__c-slide-count txt28"> 1 </span>
                        <p class="correct-programm__c-slide-heading txt28 col-wh">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae,
                            soluta.
                        </p>
                        <p class="txt20 col-wh">Lorem ipsum dolor sit amet.</p>
                    </div>

                </li>
                <li class="correct-programm__c-slide swiper-slide">
                    <div class="correct-programm__c-slide-img">
                        <img src="./assets/images/heading.png" alt="img">
                    </div>
                    <div class="correct-programm__c-slide-overlay">
                        <span class="correct-programm__c-slide-count txt28"> 2 </span>
                        <p class="correct-programm__c-slide-heading txt28 col-wh">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae,
                            soluta.
                        </p>
                        <p class="txt20 col-wh">Lorem ipsum dolor sit amet.</p>
                    </div>

                </li>
                <li class="correct-programm__c-slide swiper-slide">
                    <div class="correct-programm__c-slide-img">
                        <img src="./assets/images/heading.png" alt="img">
                    </div>
                    <div class="correct-programm__c-slide-overlay">
                        <span class="correct-programm__c-slide-count txt28"> 3 </span>
                        <p class="correct-programm__c-slide-heading txt28 col-wh">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae,
                            soluta.
                        </p>
                        <p class="txt20 col-wh">Lorem ipsum dolor sit amet.</p>
                    </div>

                </li>
               
                
            </ul>
        </div>

        <div class="swiper-navigation">
            <button class="swiper-btn swiper-btn-prev"></button>
            <button class="swiper-btn swiper-btn-next"></button>
        </div>

        <div class="correct-programm__c-text">
            <p class="txt16 col-gr">
                Эффективная коррекция требует комплексного подхода, который сочетает работу психологов и семьи.
            </p>

            <button class="btn-primary desktop _blue _arrow txt20 _medium modal-opener" data-modal="request">
                <span class="btn-primary-text">Оставить заявку</span>
            </button>

        </div>

    </div>
</section>