<section class="detox-complect">
    <div class="container">
        <div class="section-heading _center">
            <h2 class="tl1">Что входит в детоксикацию</h2>
        </div>
        <div class="swiper mobile-slider" data-desktop-slides="4">
            <ul class="swiper-wrapper">
                <li class="swiper-slide detox-complect__slide">
                    <div class="detox-complect__slide-img">
                        <img src="./assets/images/services/bottle.png" alt="detox">
                    </div>
                    <div class="detox-complect__slide-text">
                        <h3 class="txt28 _medium">Капельница</h3>
                        <p class="txt16">Дезинтоксицирующие средства</p>
                    </div>
                </li>
                <li class="swiper-slide detox-complect__slide">
                    <div class="detox-complect__slide-img">
                        <img src="./assets/images/services/bottle.png" alt="detox">
                    </div>
                    <div class="detox-complect__slide-text">
                        <h3 class="txt28 _medium">Капельница</h3>
                        <p class="txt16">Дезинтоксицирующие средства</p>
                    </div>
                </li>
                <li class="swiper-slide detox-complect__slide">
                    <div class="detox-complect__slide-img">
                        <img src="./assets/images/services/bottle.png" alt="detox">
                    </div>
                    <div class="detox-complect__slide-text">
                        <h3 class="txt28 _medium">Капельница</h3>
                        <p class="txt16">Дезинтоксицирующие средства</p>
                    </div>
                </li>
                <li class="swiper-slide detox-complect__slide">
                    <div class="detox-complect__slide-img">
                        <img src="./assets/images/services/bottle.png" alt="detox">
                    </div>
                    <div class="detox-complect__slide-text">
                        <h3 class="txt28 _medium">Капельница</h3>
                        <p class="txt16">Дезинтоксицирующие средства</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</section>