<section class="detox-stages">
    <div class="container">
        <div class="section-heading _center">
            <h2 class="tl1">Как проходит детоксикация</h2>
        </div>
        <ul class="detox-stages__list">
            <li class="detox-stages__list-e">
                <span class="circle _big bg-bl col-wh txt28 _medium">1</span>
                <div class="detox-stages__list-e-bottom">
                    <p class="txt28 _medium">Звонок в клинику</p>
                    <p class="txt20"> Звонки принимаются круглосуточно</p>
                </div>
            </li>
            <li class="detox-stages__list-e">
                <span class="circle _big bg-bl col-wh txt28 _medium">2</span>
                <div class="detox-stages__list-e-bottom">
                    <p class="txt28 _medium">Через 30 минут</p>
                    <p class="txt20"> Детоксикация у вас дома или в клинике</p>
                </div>
            </li>
            <li class="detox-stages__list-e">
                <span class="circle _big bg-bl col-wh txt28 _medium">3</span>
                <div class="detox-stages__list-e-bottom">
                    <p class="txt28 _medium">Через час</p>
                    <p class="txt20">Пациент заснет здоровым сном</p>
                </div>
            </li>
        </ul>
    </div>
</section>