<section class="diagnosis-first">
    <div class="container">
        <div class="section-heading">
            <h2 class="tl1">Диагностика и первичная консультация</h2>
        </div>
        <ul class="diagnosis-first__list">
            <li class="diagnosis-first__list-e">
                <h3 class="txt28 _medium">Медицинское обследование</h3>
                <p class="txt20">Врачи оценивают физическое состояние подростка, выявляют возможные последствия
                    зависимости, проводят анализы и тесты для диагностики общего состояния организма.</p>
            </li>
            <li class="diagnosis-first__list-e">
                <h3 class="txt28 _medium">Медицинское обследование</h3>
                <p class="txt20">Врачи оценивают физическое состояние подростка, выявляют возможные последствия
                    </p>
            </li>
            <li class="diagnosis-first__list-e">
                <h3 class="txt28 _medium">Медицинское обследование</h3>
                <p class="txt20">Врачи оценивают</p>
            </li>
            <li class="diagnosis-first__list-e">
                <h3 class="txt28 _medium">Медицинское обследование</h3>
                <p class="txt20">Врачи оценивают физическое состояние подростка, выявляют возможные последствия
                    зависимости, проводят анализы и тесты для диагностики общего состояния организма.</p>
            </li>
        </ul>
    </div>

</section>