<section class="diagnosis">
    <div class="container">
        <div class="diagnosis__left">
            <h2 class="tl1">Диагнозы, несовместимые с лечением</h2>
            <p class="txt16">Кодирование — это всегда принудительное и даже агрессивное воздействие на физиологические
                процессы в организме и психоэмоциональную сферу человека. Если методика противопоказана человеку, вред
                от нее превысит ожидаемую пользу. Поэтому перед лечением важно пройти полное медицинское обследование,
                чтобы усилия оказались не напрасными.</p>
        </div>
        <ul class="diagnosis__right">
            <li class="diagnosis__right-e">
                <div class="diagnosis__right-e-img">
                    <img src="./assets/images/icons/shield.svg" alt="dio">
                </div>
                <p class="txt16 _medium">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente neque rem eaque </p>
            </li>
            <li class="diagnosis__right-e">
                <div class="diagnosis__right-e-img">
                    <img src="./assets/images/icons/shield.svg" alt="dio">
                </div>
                <p class="txt16 _medium">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente neque rem eaque </p>
            </li>
            <li class="diagnosis__right-e">
                <div class="diagnosis__right-e-img">
                    <img src="./assets/images/icons/shield.svg" alt="dio">
                </div>
                <p class="txt16 _medium">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente neque rem eaque </p>
            </li>
        </ul>
    </div>
</section>