<section class="diagnosis-targets">
    <div class="container">
        <div class="section-heading">
            <h2 class="tl1"> Цели лабораторной диагностики</h2>
        </div>
        <ul class="diagnosis-targets__list">
            <li class="diagnosis-targets__list-e">
                <span class="circle _big bg-bl col-wh txt28 _medium">1</span>
                <p class="txt28 _medium">
                    Выявить  биохимические механизмы развития заболевания
                </p>
            </li>
            <li class="diagnosis-targets__list-e">
                <span class="circle _big bg-bl col-wh txt28 _medium">2</span>
                <p class="txt28 _medium">
                    Оценить степень интоксикации организма
                </p>
            </li>
            <li class="diagnosis-targets__list-e">
                <span class="circle _big bg-bl col-wh txt28 _medium">3</span>
                <p class="txt28 _medium">
                    Составить прогноз и определить эффективность лечения
                </p>
            </li>
        </ul>
    </div>

</section>