<section class="entity">
    <div class="container entity__c">
        <div class="section-heading">
            <h2 class="tl1">Сущность процедуры</h2>
        </div>
        <div class="entity__c-e">
            <p class="txt20 _medium">Первый этап процедуры</p>
            <p class="txt16">
                У наркомана отнимают наркотик, поэтому возникает необходимость лечения абстинентного синдрома.
                Ультрабыстрая опиоидная детоксикация проводится под общим наркозом с управляемой вентиляцией лёгких.
                Перед процедурой показаны средства, угнетающие желудочную секрецию, и транквилизаторы. При выраженной
                тошноте или рвоте — «Церукал».
            </p>
        </div>
        <div class="entity__c-e">
            <p class="txt20 _medium">Нейтрализация накротика</p>
            <p class="txt16">
                Для нейтрализации наркотика вводят внутривенно «Налоксон» и/или «Налтрексон». Они блокируют опиоидные
                рецепторы, вызывая абстиненцию. Но больной этого не ощущает, так как находится под общим наркозом.
                <br />
                После процедуры проводят токсикологический анализ на факт присутствия опиатов в моче. Пациенту
                рекомендовано оставаться в стационаре. Ему могут назначить «Октероид», блокаторы желудочной секреции и
                средства для купирования остаточного абстинентного синдрома.
            </p>
        </div>
    </div>
</section>