<section class="family">
    <div class="container">
        <h2 class="tl1">Семья - важнейший элемент в реабилитации подростка</h2>
        <p class="txt20">Поддержка близких помогает создать доверительную и стабильную атмосферу, необходимую для
            эмоционального восстановления. Активное присутствие семьи в процессе лечения помогает подростку чувствовать
            заботу и уверенность, что повышает шансы на успешное завершение терапии и предотвращает рецидивы.</p>
        <div class="family__img">
            <img src="./assets/images/clinic-inside.png" alt="family">
        </div>
    </div>
</section>