<section class="faq">
    <div class="container">
        <div class="section-heading">
            <h2 class="tl1">Ответы на вопросы</h2>
        </div>
        <div class="faq__c">
            <ul class="faq__c-list">
                <li class="switch-list__body-list-e-drop drop-down-container _relative">
                    <button class="switch-list__body-list-e-drop-target drop-down-target  txt28 _medium">
                        <span class="switch-list__body-list-e-drop-target-text">почему?</span>
                        <span class="switch-list__body-list-e-drop-target-icon drop-down-icon"></span>
                    </button>
                    <div class=" drop-down-content _relative">
                        <div class="switch-list__body-list-e-drop-body txt20">
                            <p>потому</p>

                        </div>
                    </div>
                </li>
            </ul>
            <div class="must-detox__aside desktop">
                <p class="tl2">Бесплатная консультация</p>
                <p class="txt20">Доверьтесь профессионалам, психологи выездной службы каждый день госпитализируют нескольких
                    пациентов.</p>
    
                <button class="btn-primary _white _arrow mobile-btn txt20 _medium modal-opener" data-modal="request">
                    <span class="btn-primary-text">Оставить завку</span>
                </button>
    
                <p class="tl2 col-bl">24/7</p>
            </div>
        </div>
    </div>
</section>