<footer class="footer">
    <div class="container footer__c">
        <div class="footer__c-logo tl-logo">logo</div>
        <div class="footer__c-list _service">
            <a href="#" class="txt20 _medium">Услуги</a>
            <a href="#" class="txt16"> Lorem, ipsum.</a>
            <a href="#" class="txt16"> Lorem, ipsum.</a>
            <a href="#" class="txt16"> Lorem, ipsum.</a>
            <a href="#" class="txt16"> Lorem, ipsum.</a>
            <a href="#" class="txt16"> Lorem, ipsum.</a>
        </div>

        <div class="footer__c-list _drops">
            <a href="#" class="txt20 _medium">Капельницы</a>
            <a href="#" class="txt16"> Lorem, ipsum.</a>
            <a href="#" class="txt16"> Lorem, ipsum.</a>
            <a href="#" class="txt16"> Lorem, ipsum.</a>
            <a href="#" class="txt16"> Lorem, ipsum.</a>
            <a href="#" class="txt16"> Lorem, ipsum.</a>
        </div>
        <nav class="footer__c-nav _nav">
            <a href="#" class="txt20">Наши специалисты</a>
            <a href="#" class="txt20">Цены</a>
            <a href="#" class="txt20">О нас</a>
            <a href="#" class="txt20">Статьи</a>
            <a href="#" class="txt20">Контакты</a>
        </nav>
        <div class="footer__c-nav txt20 _medium _social">
            <a href="#" class="btn-underline ">
                <img src="./assets/images/icons/phone-blue.svg" alt="ale">
                телефон
            </a>

            <a href="#" class="btn-underline ">
                <img src="./assets/images/icons/geo.svg" alt="ale">
                город
            </a>

        </div>
        <div class="footer__c-list col-gr _confa">
            <a href="#" class="txt16 btn-underline">Политика конфиденциальности</a>
            <a href="#" class="txt16 btn-underline">Согласие на обработку персональных данных</a>
        </div>
    </div>
</footer>