<section class="granny-banner">
    <div class="container">
        <div class="granny-banner__text">
            <h2 class="tl1">Мы понимаем, как это сложно</h2>
            <p class="txt20">Видеть страдания близкого человека. Перепробовать всё и не найти выхода. Когда близкий
                человек быстро разрушает себя, не осознавая этого. Хватается за нож, перестает спать, есть и мыться.
                Думает, что за ним следят и подслушивают...</p>
        </div>
        <div class="granny-banner__img">
            <img src="./assets/images/granny.png" loading="lazy" alt="granny">
        </div>
    </div>
</section>