<section class="heal-stages _5">
    <div class="container">
        <div class="section-heading">
            <h2 class="tl1">5 этапов лечения наркомании</h2>
        </div>
        <ul class="heal-stages__list">
            <li class="heal-stages__list-e">
                <div class="heal-stages__list-e-top">
                    <span class="circle bg-wh col-bl txt28 _medium">1</span>
                    <h3 class="txt28 _medium">Бесплатная консультация</h3>
                    <button class="btn-second desktop _blue txt16 _medium modal-opener" data-modal="request">
                        оставить заявку
                    </button>
                </div>
                <div class="heal-stages__list-e-bottom">
                    <p class="txt16">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam corporis eius nihil
                        a quas nisi minima fugiat fugit in debitis?</p>
                        <button class="btn-second mobile _blue txt16 _medium modal-opener" data-modal="request">
                            оставить заявку
                        </button>
                </div>
            </li>
            <li class="heal-stages__list-e">
                <div class="heal-stages__list-e-top">
                    <span class="circle bg-wh col-bl txt28 _medium">2</span>
                    <h3 class="txt28 _medium">Бесплатная консультация</h3>
                    
                </div>
                <div class="heal-stages__list-e-bottom">
                    <p class="txt16">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis laudantium eaque quis deserunt, hic quo quaerat, minima facere culpa exercitationem amet. Ullam optio quibusdam libero atque placeat minus dolore debitis aperiam rerum cum praesentium dicta, voluptate quidem sequi eligendi eaque harum repudiandae! At deserunt provident maiores nulla inventore voluptates repudiandae?</p>
                </div>
            </li>
            <li class="heal-stages__list-e">
                <div class="heal-stages__list-e-top">
                    <span class="circle bg-wh col-bl txt28 _medium">3</span>
                    <h3 class="txt28 _medium">Бесплатная консультация</h3>
                    
                </div>
                <div class="heal-stages__list-e-bottom">
                    <p class="txt16">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam corporis eius nihil
                        a quas nisi minima fugiat fugit in debitis?</p>
                </div>
            </li>
            <li class="heal-stages__list-e">
                <div class="heal-stages__list-e-top">
                    <span class="circle bg-wh col-bl txt28 _medium">4</span>
                    <h3 class="txt28 _medium">Бесплатная консультация</h3>
                    
                </div>
                <div class="heal-stages__list-e-bottom">
                    <p class="txt16">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam corporis eius nihil
                        a quas nisi minima fugiat fugit in debitis?</p>
                </div>
            </li>
            <li class="heal-stages__list-e">
                <div class="heal-stages__list-e-top">
                    <span class="circle bg-wh col-bl txt28 _medium">5</span>
                    <h3 class="txt28 _medium">Бесплатная консультация</h3>
                    
                </div>
                <div class="heal-stages__list-e-bottom">
                    <p class="txt16">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam corporis eius nihil
                        a quas nisi minima fugiat fugit in debitis?</p>
                </div>
            </li>
        </ul>
    </div>
</section>