<section class="how-analysis">
    <div class="container">
        <div class="section-heading">
            <h2 class="tl1">Как проходит анализ</h2>
        </div>
        <p class="txt20">
            После туалета собирается моча у пациента обязательно в сухую и чистую посуду (количество – 50, 100 мл). Для
            таких целей используют контейнер с крышкой (продается в аптеках). Если по каким-то причинам невозможно
            доставить сразу же мочу в лабораторию, то она хранится в холодильнике в течении трех дней или двух месяцев в
            замороженном виде.
        </p>
        <ul class="how-analysis__list">
            <li class="how-analysis__list-e">
                <div class="how-analysis__list-e-top txt28 _medium">
                    <span class="circle bg-bl col-wh txt28 _medium">1</span>
                    Иммуннохроматографический анализ
                </div>
                <p class="how-analysis__list-e-bottom txt16 col-gr">
                    Это экспресс-метод, проводящийся сразу после сбора мочи. Результат можно узнать по истечении 10-15
                    минут. Таким методом возможно идентифицировать 14 различных видов наркотика.
                </p>
            </li>
            <li class="how-analysis__list-e">
                <div class="how-analysis__list-e-top txt28 _medium">
                    <span class="circle bg-bl col-wh txt28 _medium">2</span>
                    Химико-токсикологический анализ
                </div>
                <p class="how-analysis__list-e-bottom txt16 col-gr">
                    Исследование займет четыре дня. Выявляет все известные наркотические и психотропные вещества.
                </p>
            </li>
        </ul>
    </div>
</section>