<section class="licenses default-swiper">
    <div class="container">
        <div class="section-heading">
            <h2 class="tl1">Лицензии и сертификаты</h2>

            <div class="swiper-navigation desktop">
                <button class="swiper-btn swiper-btn-prev"></button>
                <button class="swiper-btn swiper-btn-next"></button>
            </div>
        </div>
        <div class="swiper">
            <ul class="swiper-wrapper">
                <li class="license-slide swiper-slide">
                    <a class="license-slide__img" href="./assets/images/license.png" data-fancybox="license">
                        <img src="./assets/images/license.png" alt="license">
                    </a>
                    <div class="license-slide__footer txt20 _medium">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                    </div>
                </li>
                <li class="license-slide swiper-slide">
                    <a class="license-slide__img" href="./assets/images/license.png" data-fancybox="license">
                        <img src="./assets/images/license.png" alt="license">
                    </a>
                    <div class="license-slide__footer txt20 _medium">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing.</p>
                    </div>
                </li>
               
            </ul>
        </div>

    </div>
</section>