<div class="modal modal-request ">
    <div class="modal-main  modal-closer">
        <div class="modal-c-wrp">
            <div class="modal__c _request">
                <button class="modal__c-close modal-closer">
                </button>
                <p class="txt32 _medium">
                    Введите свои данные
                </p>
                <form class="form txt20">
                    <label class="input-container input-text form-input">
                        <input type="text" name="name" placeholder="имя" data-required="y" autocomplete="off">
                        <span class="input-text-placeholder" >имя</span>
                        <span class="input-text-error-msg txt16 "></span>
                    </label>
                    <label class="input-container input-text form-input">
                        <input type="text" name="phone" placeholder="Номер телефона" data-required="y"
                            autocomplete="off" inputmode="text">
                        <span class="input-text-placeholder" >Номер телефона</span>
                        <span class="input-text-error-msg txt16 "></span>
                    </label>

                    <label class="input-container input-text form-input -row">
                        <textarea type="text" name="commentary" placeholder="Ваше сообщение" maxlength="150" rows="3"
                            autocomplete="off"></textarea>
                        <span class="input-text-placeholder" >Ваше сообщение</span>
                        <span class="input-text-error-msg txt16 "></span>
                    </label>
                    <div class="_row">
                        <button class="btn-primary _blue _arrow txt20 _medium form-submit" type="button">
                            <span class="btn-primary-text">Отправить</span>
                        </button>

                        <label class="checkbox form-input col-gr">
                            <input type="checkbox" name="policy" data-required="y" autocomplete="off">
                            <span class="checkbox-check">
                                <svg width="10" height="7" viewBox="0 0 10 7" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M3.41445 5.47216L8.88627 0.187083C9.0154 0.0623609 9.16884 0 9.34661 0C9.52438 0 9.67761 0.0623609 9.80631 0.187083C9.93544 0.311804 10 0.460015 10 0.631715C10 0.803415 9.93544 0.951418 9.80631 1.07572L3.8664 6.81292C3.73727 6.93764 3.58662 7 3.41445 7C3.24228 7 3.09163 6.93764 2.9625 6.81292L0.186243 4.1314C0.0571146 4.00668 -0.00486715 3.85847 0.000297988 3.68677C0.00546312 3.51507 0.0728249 3.36707 0.202384 3.24276C0.331512 3.11804 0.48496 3.05568 0.662727 3.05568C0.840493 3.05568 0.993726 3.11804 1.12242 3.24276L3.41445 5.47216Z"
                                        fill="white"></path>
                                </svg>
                            </span>
                            <span class="checkbox-text txt16 ">Отправляя форму, вы соглашаетесь с политикой
                                конфиденциальности</span>
                        </label>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal modal-thx ">
    <div class="modal-main  modal-closer">
        <div class="modal-c-wrp">
            <div class="modal__c _thx">
                <button class="modal__c-close modal-closer">
                </button>
                <p class="txt32">Спасибо за обращение!</p>
                <p class="txt20 col-gr">Наш специалист свяжется с вами в ближайшее время, чтобы ответить на все ваши
                    вопросы и
                    предложить возможные варианты помощи.</p>

                <button class="btn-primary _blue txt20 _medium modal-closer">
                    <span class="btn-primary-text">Закрыть</span>
                </button>

            </div>
        </div>
    </div>
</div>