<section class="must-detox">
    <div class="container">
        <div class="must-detox__aside">
            <p class="txt32 _medium">Бесплатная консультация</p>
            <p class="txt20">Доверьтесь профессионалам, психологи выездной службы каждый день госпитализируют нескольких
                пациентов.</p>

            <button class="btn-primary _white _arrow mobile-btn txt20 _medium modal-opener" data-modal="request">
                <span class="btn-primary-text">Оставить завку</span>
            </button>

            <p class="tl2 col-bl">24/7</p>
        </div>
        <div class="must-detox__main">
            <h2 class="tl1">Показания <br /> к детоксикации наркомана</h2>
            <p class="txt20">Детоксикация от наркотиков направлена на очищение организма от продуктов распада
                запрещенных веществ. Метод помогает справиться с наркозависимостью на физическом уровне. Адекватно
                подобранная схема детоксикационной терапии нормализует все физиологические функции жизненно важных
                органов и систем, на фоне чего они могут полноценно работать дальше без поступления очередной дозы
                наркотического вещества
                Детоксикация от наркозависимости — это начальный этап сложного лечения, основанный на медикаментозных и
                немедикаментозных методиках. Вне зависимости от того, кто обратился за наркологической помощью — сам
                пациент или его близкие, в 70% случаев человек поступает в клинику либо в состоянии наркотической
                интоксикации разной степени тяжести с характерным симптоматическим комплексом, либо на фоне
                продолжительного и активного употребления запрещенных веществ.
                Желая сохранить анонимность либо по другим мотивам, многие пациенты и их родственники вызывают нарколога
                на дом в надежде получить быструю помощь. Подобный подход оправдан при условии относительно недавнего
                применения наркотических средств (стаж зависимости менее 1 года), употребления растительных
                каннабиноидов — гашиша, конопли, марихуаны или спайса, симптомов абстиненции, выраженных в легкой или
                умеренной степени тяжести.
                То есть детоксикация на дому показана далеко не во всех случаях. Если у наркозависимого имеются
                следующие состояния,
            </p>

            <ul class="marked-list txt16">
                <li>marked-list</li>
                <li>marked-list</li>
                <li>marked-list</li>
                <li>marked-list</li>
            </ul>




        </div>
    </div>
</section>