<section class="no-hospital">
    <div class="container">
        <h2 class="tl1">Показания лечения без госпитализации</h2>
        <p class="txt32 _medium">Амбулаторное лечение не является самолечением, так как
            <br class="desktop" />
            терапия проходит под постоянным
            наблюдением врача. </p>
        <div class="no-hospital__side">
            <h3 class="txt20 _medium">Лечение без госпитализации возможно в следующих случаях:</h3>
            <ul class="marked-list txt16" >
                <li>Нет необходимости в круглосуточном наблюдении;</li>
                <li>У пациента есть благоприятные бытовые условия;</li>
                <li>Присутствует сильная мотивация к выздоровлению.</li>
            </ul>
        </div>
        <div class="no-hospital__side">
            <h3 class="txt20 _medium">Эффективное лечение состоит из нескольких этапов</h3>
            <ul class="marked-list txt16">
                <li>Нет необходимости в круглосуточном наблюдении;</li>
                <li>У пациента есть благоприятные бытовые условия;</li>
                <li>Присутствует сильная мотивация к выздоровлению.</li>
            </ul>
        </div>
    </div>
</section>