<section class="our-services">
    <div class="container">
        <div class="section-heading">
            <h2 class="tl1">Наши услуги</h2>

            <a href="#" class="desktop btn-primary _blue _arrow txt20 _medium">
                <span class="btn-primary-text">Перейти к услугам </span>
            </a>
        </div>
        <div class="mobile-slider swiper" data-desktop-slides="4">
            <div class="our-services__list swiper-wrapper">
                <a href="#" class="our-services__list-e btn-radio-arrow-hover swiper-slide">
                    <div class="our-services__list-e-img">
                        <img src="./assets/images/services/bottle.png" loading="lazy" alt="service">
                    </div>
                    <div class="our-services__list-e-bottom">
                        <p class="txt32 _medium">Лечение алкоголизма</p>
                        <span class="btn-radio-arrow ">
                        </span>
                    </div>
                </a>
                <a href="#" class="our-services__list-e btn-radio-arrow-hover swiper-slide">
                    <div class="our-services__list-e-img">
                        <img src="./assets/images/services/inject.png" loading="lazy" alt="service">
                    </div>
                    <div class="our-services__list-e-bottom">
                        <p class="txt32 _medium">Лечение алкоголизма</p>
                        <span class="btn-radio-arrow ">
                        </span>
                    </div>
                </a>
                <a href="#" class="our-services__list-e btn-radio-arrow-hover swiper-slide">
                    <div class="our-services__list-e-img">
                        <img src="./assets/images/services/world-of-tanks.png" loading="lazy" alt="service">
                    </div>
                    <div class="our-services__list-e-bottom">
                        <p class="txt32 _medium">Лечение алкоголизма</p>
                        <span class="btn-radio-arrow ">
                        </span>
                    </div>
                </a>
                <a href="#" class="our-services__list-e btn-radio-arrow-hover swiper-slide">
                    <div class="our-services__list-e-img">
                        <img src="./assets/images/services/incel.png" loading="lazy" alt="service">
                    </div>
                    <div class="our-services__list-e-bottom">
                        <p class="txt32 _medium">Лечение алкоголизма</p>
                        <span class="btn-radio-arrow ">
                        </span>
                    </div>
                </a>
            </div>
        </div>
        <a href="#" class="mobile btn-primary _blue _arrow txt20 _medium">
           <span class="btn-primary-text">Перейти к услугам </span>
        </a>
    </div>
</section>