<section class="our-specialists default-swiper">
    <div class="container">
        <div class="section-heading">
            <h2 class="tl1">Наши специалисты</h2>

            <div class="swiper-navigation desktop">
                <button class="swiper-btn swiper-btn-prev"></button>
                <button class="swiper-btn swiper-btn-next"></button>
            </div>
        </div>
        <div class="swiper">
            <ul class="swiper-wrapper">
                <li class="swiper-slide specialist">
                    <div class="specialist__img">
                        <span class="tag _small txt20 _medium">
                            <span class="tag-icon">
                                <img src="./assets/images/icons/exp.svg" alt="cock">
                            </span>
                            Стаж 10 лет
                        </span>
                        <img src="./assets/images/doctor-1.png" alt="doc">
                    </div>
                    <div class="specialist__info">
                        <p class="txt16 col-bl">Главный врач</p>
                        <h3 class="txt20 _medium">Lorem ipsum dolor sit amet consectetur.</h3>
                        <p class="txt16">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque.</p>

                        <a href="#" class="btn-arrow _black txt20 _medium">
                            Записаться
                        </a>
                    </div>

                </li>
                <li class="swiper-slide specialist">
                    <div class="specialist__img">
                        <span class="tag _small txt20 _medium">
                            <span class="tag-icon">
                                <img src="./assets/images/icons/exp.svg" alt="cock">
                            </span>
                            Стаж 10 лет
                        </span>
                        <img src="./assets/images/doctor-1.png" alt="doc">
                    </div>
                    <div class="specialist__info">
                        <p class="txt16 col-bl">Главный врач</p>
                        <h3 class="txt20 _medium">Lorem ipsum dolor sit amet consectetur.</h3>
                        <p class="txt16">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque.</p>

                        <a href="#" class="btn-arrow _black txt20 _medium">
                            Записаться
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        <a href="#" class="mobile mobile-btn btn-primary _blue _arrow txt20 _medium">
            <span class="btn-primary-text">Смотреть всех</span>
        </a>


    </div>
</section>