<section class="placement">
    <div class="container">
        <div class="section-heading">
            <h2 class="tl1">Условия размещения</h2>
        </div>
        <div class="placement__c">
            <div class="placement__c-slider">
                <div class="swiper placement__c-slider-body">
                    <div class="swiper-navigation">
                        <button class="swiper-btn swiper-btn-prev"></button>
                        <button class="swiper-btn swiper-btn-next"></button>
                    </div>
                    <ul class="swiper-wrapper">
                        <li class="swiper-slide placement__c-slider-body-card">
                            <h3 class="txt32 _medium">econom</h3>
                            <ul class="marked-list txt16">
                                <li>marked-list</li>
                                <li>marked-list</li>
                                <li>marked-list</li>
                            </ul>
                            <div class=" placement__c-slider-body-card-footer">
                                <p class="txt32 _medium col-bl placement__c-slider-body-card-footer-price">999 999</p>

                                <button class="btn-second mobile-btn _blue txt16 _medium modal-opener" data-modal="request">
                                    оставить заявку
                                </button>

                            </div>
                        </li>
                        <li class="swiper-slide placement__c-slider-body-card">
                            <h3 class="txt32 _medium">econom</h3>
                            <ul class="marked-list txt16">
                                <li>marked-list</li>
                                <li>marked-list</li>
                                <li>marked-list</li>
                            </ul>
                            <div class=" placement__c-slider-body-card-footer">
                                <p class="txt32 _medium col-bl placement__c-slider-body-card-footer-price">999 999</p>

                                <button class="btn-second _blue mobile-btn txt16 _medium modal-opener" data-modal="request">
                                    оставить заявку
                                </button>

                            </div>
                        </li>
                    </ul>

                </div>
                <div class="desktop swiper placement__c-slider-img ">
                    <div class="swiper-wrapper">
                        <a class="placement__c-slider-img-e swiper-slide"  href="./assets/images/clinic-inside.png" data-fancybox="license">
                            <img src="./assets/images/clinic-inside.png" alt="inside">
                        </a>
                        <a class="placement__c-slider-img-e swiper-slide" href="./assets/images/clinic-inside.png" data-fancybox="license">
                            <img src="./assets/images/clinic-inside.png" alt="inside">
                        </a>
                       
                    </div>
                </div>
            </div>
            <div class="placement__c-license">
                <div class="placement__c-license-img">
                    <img src="./assets/images/license.png" alt="license">
                </div>
                <div class="placement__c-license-icon">
                    <div class="placement__c-license-icon-main">
                        <img src="./assets/images/icons/shield.svg" alt="shield">
                    </div>
                    <p class="txt16 col-bl">гарантия качества</p>
                </div>
                <p class="txt20 _medium">
                    Медицинская лицензия по психиатрии-наркологии
                </p>

            </div>
        </div>
    </div>
</section>