<section class="rehabilitation-stages">
    <div class="container ">
        <div class="section-heading">
            <h2 class="tl1">Как подготовиться к кодированию?</h2>
        </div>
        <div class="switch-list _coding desktop">
            <div class="switch-list-wrp">
                <div class="switch-list__nav">
                    <button class="btn-switch-list txt28 _medium _opened btn-radio-arrow-hover" data-slideto="0">
                        stage 0
                        <div class="btn-radio-arrow ">
                        </div>

                    </button>
                    <button class="btn-switch-list txt28 _medium btn-radio-arrow-hover" data-slideto="1">
                        stage 1
                        <div class="btn-radio-arrow ">
                        </div>
                    </button>
                    <button class="btn-switch-list txt28 _medium btn-radio-arrow-hover" data-slideto="2">
                        stage 2
                        <div class="btn-radio-arrow ">
                        </div>
                    </button>
                </div>
            </div>

            <div class="switch-list__body">
                <ul class="switch-list__body-list">
                    <li class="switch-list__body-list-e switch-list__body-list-e-text  txt20">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet sequi unde voluptatem
                        libero alias magni possimus ducimus perferendis quibusdam animi repudiandae ratione est ut
                        voluptate veritatis recusandae, sapiente obcaecati repellendus dolorem, officia numquam?
                        Facilis asperiores et earum veniam nulla tempora necessitatibus. Mollitia magni deleniti
                        placeat quae officiis nam nihil ad.
                    </li>
                    <li class="switch-list__body-list-e switch-list__body-list-e-text  txt20">

                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque, asperiores accusantium veniam
                        amet vel obcaecati ipsam nihil sint ut totam reprehenderit porro consectetur consequuntur,
                        pariatur fugit placeat possimus. Suscipit deserunt dolore voluptatibus facilis nemo pariatur
                        iusto placeat consequuntur vitae reprehenderit, temporibus vel nisi dolorem ut dolorum eligendi
                        molestiae nulla recusandae libero ad corrupti quisquam! Repellendus, porro. Adipisci eveniet
                        nisi illum, fugit minima ipsa incidunt blanditiis iste distinctio assumenda mollitia, ad
                        repudiandae obcaecati odio ducimus praesentium beatae quo est autem dolor iure molestias sunt
                        molestiae consequuntur? Nam, quia eaque ipsa, provident accusamus non vitae, necessitatibus
                        dolorum fugit veritatis perferendis quidem velit?

                    </li>
                    <li class="switch-list__body-list-e switch-list__body-list-e-text  txt20">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis, sit.

                    </li>
                </ul>

            </div>

        </div>
        <ul class="faq__c-list mobile">
            <li class="switch-list__body-list-e-drop drop-down-container _relative ">
                <button class="switch-list__body-list-e-drop-target drop-down-target txt28 _medium ">
                    <span class="switch-list__body-list-e-drop-target-text">Воздержитесь от алкоголя до 5 дней</span>
                    <span class="switch-list__body-list-e-drop-target-icon drop-down-icon"></span>
                </button>
                <div class=" drop-down-content _relative">
                    <div class="switch-list__body-list-e-drop-body txt20">
                        <p>Для успешного кодирования важно, чтобы организм пациента был полностью очищен от алкоголя. Это требует воздержания от спиртных напитков в течение как минимум 5 дней. Это время необходимо для того, чтобы этанол полностью вышел из системы, а лечение стало эффективным. Невыполнение этого условия может снизить результативность процедуры или вызвать негативные реакции организма.</p>

                    </div>
                </div>
            </li>

            <li class="switch-list__body-list-e-drop drop-down-container _relative ">
                <button class="switch-list__body-list-e-drop-target drop-down-target txt28 _medium ">
                    <span class="switch-list__body-list-e-drop-target-text">Воздержитесь от алкоголя до 5 дней</span>
                    <span class="switch-list__body-list-e-drop-target-icon drop-down-icon"></span>
                </button>
                <div class=" drop-down-content _relative">
                    <div class="switch-list__body-list-e-drop-body txt20">
                        <p>Для успешного кодирования важно, чтобы организм пациента был полностью очищен от алкоголя. Это требует воздержания от спиртных напитков в течение как минимум 5 дней. Это время необходимо для того, чтобы этанол полностью вышел из системы, а лечение стало эффективным. Невыполнение этого условия может снизить результативность процедуры или вызвать негативные реакции организма.</p>

                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>