<section class="prices">
    <div class="container">
        <div class="section-heading">
            <h2 class="tl1">Цены</h2>
            <button class="desktop btn-primary _blue _arrow txt20 _medium">
                <span class="btn-primary-text"> Смотреть все цены</span>
            </button>
        </div>
        <div class="prices__list">
            <a href="#" class="prices__list-e btn-radio-arrow-hover">
                <div class="prices__list-e-tags">
                    <span class="tag _small txt20 _medium">
                        <span class="tag-icon">
                            <img src="./assets/images/icons/precent.svg" alt="cock">
                        </span>
                        Акция
                    </span>
                </div>

                <div class="prices__list-e-img">
                    <img src="./assets/images/clinic-inside.png" loading="lazy" alt="prices">
                </div>
                <div class="prices__list-e-body">
                    <div class="prices__list-e-mid">
                        <p class="tl1 col-bl">20 <span class="txt32">%</span></p>
                        <span class="btn-radio-arrow ">
                        </span>
                    </div>
                    <div class="prices__list-e-bottom">
                        <p class="txt20">Скидка 20% на первое обращение в клинику</p>
                    </div>
                </div>
            </a>
            <a href="#" class="prices__list-e btn-radio-arrow-hover">
                <div class="prices__list-e-tags">
                    <span class="tag _small txt20 _medium">
                        <span class="tag-icon">
                            <img src="./assets/images/icons/precent.svg" alt="cock">
                        </span>
                        Акция
                    </span>
                </div>

                <div class="prices__list-e-img">
                    <img src="./assets/images/clinic-inside.png" loading="lazy" alt="prices">
                </div>
                <div class="prices__list-e-body">
                    <div class="prices__list-e-mid">
                        <p class="tl1 col-bl">5 <span class="txt32">дней</span></p>
                        <span class="btn-radio-arrow ">
                        </span>
                    </div>
                    <div class="prices__list-e-bottom">
                        <p class="txt20">5 дней стационара по цене 3-х при комплексном обследовнии</p>
                    </div>
                </div>
            </a>
            <a href="#" class="prices__list-e btn-radio-arrow-hover">
                <div class="prices__list-e-tags">
                    <span class="tag _small txt20 _medium">
                        <span class="tag-icon">
                            <img src="./assets/images/icons/precent.svg" alt="cock">
                        </span>
                        Акция
                    </span>
                </div>

                <div class="prices__list-e-img">
                    <img src="./assets/images/clinic-inside.png" loading="lazy" alt="prices">
                </div>

                <div class="prices__list-e-body">
                    <div class="prices__list-e-mid">
                        <p class="tl1 col-bl">100 %<span class="txt32">выгода</span></p>
                        <span class="btn-radio-arrow ">
                        </span>
                    </div>
                    <div class="prices__list-e-bottom">
                        <p class="txt20">От 3000 р. полное выведение метаболитов</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>