<section class="prices-list">
    <div class="container">
        <div class="section-heading">
            <h2 class="tl1">Цены</h2>
        </div>
        <div class="swiper">
            <ul class="prices-list__list swiper-wrapper">
                <li class="prices-list__list-e swiper-slide">
                    <div class="prices-list__list-e-row">
                        <h3 class="txt28 _medium">Капельница от алкоголя Стандарт</h3>
                        <div class="prices-list__list-e-row-price">
                            <p class="txt28 col-bl rubles">999 999</p>
                            <a href="#" class=" mobile btn-radio-arrow btn-radio-arrow-hover">
                            </a>
                        </div>
                    </div>
                    <div class="prices-list__list-e-row">
                        <a href="#" class="btn-arrow _black txt20 _medium">
                            подробнее
                        </a>
                        <button class="btn-second _blue txt16 _medium">
                            записаться на консультацию
                        </button>
                    </div>
                </li>
                <li class="prices-list__list-e swiper-slide">
                    <div class="prices-list__list-e-row">
                        <h3 class="txt28 _medium">Капельница от алкоголя Стандарт</h3>
                        <div class="prices-list__list-e-row-price">
                            <p class="txt28 col-bl rubles">999 999</p>
                            <a href="#" class=" mobile btn-radio-arrow btn-radio-arrow-hover">
                            </a>
                        </div>
                    </div>
                    <div class="prices-list__list-e-row">
                        <a href="#" class="btn-arrow _black txt20 _medium">
                            подробнее
                        </a>
                        <button class="btn-second _blue txt16 _medium">
                            записаться на консультацию
                        </button>
                    </div>
                </li>

            </ul>
        </div>
        <a href="#" class="mobile mobile-btn btn-primary _blue _arrow txt20 _medium">
            <span class="btn-primary-text">Смотреть все цены</span>
        </a>
    </div>
</section>