<section class="rehabilitation-stages">
    <div class="container">
        <div class="section-heading">
            <h2 class="tl1">Этапы реабилитации в центре</h2>
        </div>
        <div class="switch-list">
            <div class="switch-list-wrp">
                <div class="switch-list__nav">
                    <button class="btn-switch-list txt28 _medium _opened" data-slideto="0">
                        stage 0
                    </button>
                    <button class="btn-switch-list txt28 _medium" data-slideto="1">
                        stage 1
                    </button>
                    <button class="btn-switch-list txt28 _medium" data-slideto="2">
                        stage 2
                    </button>
                </div>
            </div>

            <div class="switch-list__body">
                <ul class="switch-list__body-list">
                    <li class="switch-list__body-list-e">
                        <div class="switch-list__body-list-e-drop drop-down-container _relative">
                            <button class="switch-list__body-list-e-drop-target drop-down-target  txt28 _medium">
                                <span class="switch-list__body-list-e-drop-target-text">data of slide 1</span>
                                <span class="switch-list__body-list-e-drop-taget-sub txt16 col-bl">Факторы зависимости</span>
                                <span class="switch-list__body-list-e-drop-target-icon drop-down-icon"></span>
                            </button>
                            <div class=" drop-down-content _relative">
                                <div class="switch-list__body-list-e-drop-body">
                                    <ul class="marked-list">
                                        <li class="txt16">Lorem ipsum dolor sit amet.</li>
                                        <li class="txt16">Lorem ipsum dolor sit amet.</li>
                                    </ul>

                                </div>
                            </div>
                        </div>

                        <div class="switch-list__body-list-e-drop drop-down-container _relative">
                            <button class="switch-list__body-list-e-drop-target drop-down-target  txt28 _medium">
                                <span class="switch-list__body-list-e-drop-target-text">data of slide 1</span>
                                <span class="switch-list__body-list-e-drop-taget-sub txt16 col-bl">Факторы зависимости</span>
                                <span class="switch-list__body-list-e-drop-target-icon drop-down-icon"></span>
                            </button>
                            <div class=" drop-down-content _relative">
                                <div class="switch-list__body-list-e-drop-body">
                                    <ul class="marked-list">
                                        <li class="txt16">Lorem ipsum dolor sit amet.</li>
                                        <li class="txt16">Lorem ipsum dolor sit amet.</li>
                                    </ul>

                                </div>
                            </div>
                        </div>


                    </li>
                    <li class="switch-list__body-list-e">
                        <div class="switch-list__body-list-e-drop drop-down-container _relative">
                            <button class="switch-list__body-list-e-drop-target drop-down-target  txt28 _medium">
                                <span class="switch-list__body-list-e-drop-target-text">data of slide 2</span>
                                <span class="switch-list__body-list-e-drop-taget-sub txt16 col-bl">Факторы зависимости</span>
                                <span class="switch-list__body-list-e-drop-target-icon drop-down-icon"></span>
                            </button>
                            <div class=" drop-down-content _relative">
                                <div class="switch-list__body-list-e-drop-body">
                                    <ul class="marked-list">
                                        <li class="txt16">Lorem ipsum dolor sit amet.</li>
                                        <li class="txt16">Lorem ipsum dolor sit amet.</li>
                                    </ul>

                                </div>
                            </div>
                        </div>


                    </li>
                    <li class="switch-list__body-list-e">
                        <div class="switch-list__body-list-e-drop drop-down-container _relative">
                            <button class="switch-list__body-list-e-drop-target drop-down-target  txt28 _medium">
                                <span class="switch-list__body-list-e-drop-target-text">data of slide 3</span>
                                <span class="switch-list__body-list-e-drop-taget-sub txt16 col-bl">Факторы зависимости</span>
                                <span class="switch-list__body-list-e-drop-target-icon drop-down-icon"></span>
                            </button>
                            <div class=" drop-down-content _relative">
                                <div class="switch-list__body-list-e-drop-body">
                                    <ul class="marked-list">
                                        <li class="txt16">Lorem ipsum dolor sit amet.</li>
                                        <li class="txt16">Lorem ipsum dolor sit amet.</li>
                                    </ul>

                                </div>
                            </div>
                        </div>


                    </li>
                </ul>

            </div>

        </div>
    </div>
</section>