<section class="reviews default-swiper" data-desktopview="3">
    <div class="container">
        <div class="section-heading">
            <h2 class="tl1">Отзывы</h2>

            <div class="swiper-navigation desktop">
                <button class="swiper-btn swiper-btn-prev"></button>
                <button class="swiper-btn swiper-btn-next"></button>
            </div>
        </div>
        <div class="swiper">
            <ul class="swiper-wrapper">
                <li class="review-slide swiper-slide">
                    <div class="review-slide__top">
                        <p class="txt28 _medium">Lorem ipsum dolor sit amet</p>
                        <p class="txt16">Lorem, ipsum dolor.</p>
                    </div>
                    <div class="review-slide__body txt20">
                        <p class="review-slide__body-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                            Blanditiis voluptatem autem tempora error molestiae soluta vel ullam, id perspiciatis
                            necessitatibus fugiat ut! Tenetur sequi dignissimos velit illum et iste, eveniet
                            reprehenderit nemo veritatis veniam perferendis sint neque? Necessitatibus, eum sapiente
                            asperiores laborum quae, optio provident ad at voluptatem architecto quia aperiam quibusdam
                            voluptatibus et perspiciatis id, aliquam explicabo maiores non odit commodi tempore nihil
                            incidunt! Consequuntur, dolorum esse repellendus veritatis distinctio culpa blanditiis, ad
                            illo odit doloremque aperiam dolor officia dolore aliquid iste voluptas sapiente, pariatur
                            porro aut! Possimus pariatur est adipisci inventore, eum quisquam voluptatum nulla rem rerum
                            amet?</p>
                    </div>
                    <div class="review-slide__footer">
                        <div class="review-slide__footer-stars">
                            <img src="./assets/images/icons/star-full.svg" alt="full">
                            <img src="./assets/images/icons/star-full.svg" alt="full">
                            <img src="./assets/images/icons/star-full.svg" alt="full">
                            <img src="./assets/images/icons/star-full.svg" alt="full">
                            <img src="./assets/images/icons/star-border.svg" alt="border">
                        </div>
                        <p class="txt16">20.07.2022</p>
                    </div>
                </li>
                <li class="review-slide swiper-slide">
                    <div class="review-slide__top">
                        <p class="txt28 _medium">Lorem ipsum dolor sit amet</p>
                        <p class="txt16">Lorem, ipsum dolor.</p>
                    </div>
                    <div class="review-slide__body txt20">
                        <img src="./assets/images/license.png" data-fancybox alt="review">
                    </div>
                    <div class="review-slide__footer">
                        <div class="review-slide__footer-stars">
                            <img src="./assets/images/icons/star-full.svg" alt="full">
                            <img src="./assets/images/icons/star-full.svg" alt="full">
                            <img src="./assets/images/icons/star-full.svg" alt="full">
                            <img src="./assets/images/icons/star-full.svg" alt="full">
                            <img src="./assets/images/icons/star-border.svg" alt="border">
                        </div>
                        <p class="txt16">20.07.2022</p>
                    </div>
                </li>


            </ul>
        </div>

    </div>
</section>