<section class="two-stages">
    <div class="container">
        <div class="section-heading _center">
            <h2 class="tl1">Две стадии реабилитации</h2>
        </div>
        <ul class="two-stages__list">
            <li class="two-stages__list-e">
                <span class="circle _big bg-bl col-wh txt28 _medium">1</span>
                <div class="two-stages__list-e-img desktop">
                    <img src="./assets/images/clinic-inside.png" loading="lazy" alt="clonic">
                </div>
                <div class="two-stages__list-e-body">
                    <p class="txt28 _medium">Реабилитация в наркологическом центре</p>
                    <ul class="marked-list _dot">
                        <li class="col-gr txt20">Восстанавление когнитивно-поведенческих функций зависимого</li>
                        <li class="col-gr txt20">Налаживает взаимоотношения с родственниками</li>
                        <li class="col-gr txt20">Зависимый получает психологические инструменты для работы с тягой и
                            жизни без наркотиков</li>
                    </ul>
                </div>
            </li>
            <li class="two-stages__list-e">
                <span class="circle _big bg-bl col-wh txt28 _medium">2</span>
                <div class="two-stages__list-e-img desktop">
                    <img src="./assets/images/clinic-inside.png" loading="lazy" alt="clonic">
                </div>
                <div class="two-stages__list-e-body">
                    <p class="txt28 _medium">Реабилитация в наркологическом центре</p>
                    <ul class="marked-list _dot">
                        <li class="col-gr txt20">Восстанавление когнитивно-поведенческих функций зависимого</li>
                        <li class="col-gr txt20">Налаживает взаимоотношения с родственниками</li>
                        <li class="col-gr txt20">Зависимый получает психологические инструменты для работы с тягой и
                            жизни без наркотиков</li>
                    </ul>
                </div>
            </li>
        </ul>

    </div>
</section>