<section class="who-coding">
    <div class="container">
        <div class="section-heading _center">
            <h2 class="tl1">Кому назначается кодирование</h2>
        </div>

        <ul class="who-coding__list">
            <li class=" who-coding__list-e">
                <div class="who-coding__list-e-img desktop">
                    <img src="./assets/images/granny.png" alt="detox">
                </div>
                <div class="who-coding__list-e-text">
                    <p class="txt16">Людям с хронической алкогольной зависимостью, которые не могут самостоятельно
                        отказаться от алкоголя</p>
                </div>
            </li>
            <li class=" who-coding__list-e">
                <div class="who-coding__list-e-img desktop">
                    <img src="./assets/images/granny.png" alt="detox">
                </div>
                <div class="who-coding__list-e-text">
                    <p class="txt16">Людям с хронической алкогольной зависимостью, которые не могут самостоятельно
                        отказаться от алкоголя</p>
                </div>
            </li>
            <li class=" who-coding__list-e">
                <div class="who-coding__list-e-img desktop">
                    <img src="./assets/images/granny.png" alt="detox">
                </div>
                <div class="who-coding__list-e-text">
                    <p class="txt16">Людям с хронической алкогольной зависимостью, которые не могут самостоятельно
                        отказаться от алкоголя</p>
                </div>
            </li>
            <li class=" who-coding__list-e">
                <div class="who-coding__list-e-img desktop">
                    <img src="./assets/images/granny.png" alt="detox">
                </div>
                <div class="who-coding__list-e-text">
                    <p class="txt16">Людям с хронической алкогольной зависимостью, которые не могут самостоятельно
                        отказаться от алкоголя</p>
                </div>
            </li>
        </ul>

    </div>

</section>