.contacts {

    & .container {
        position: relative;
    }

    @include mobile {

        & .gradient-bg {
            top: 20%;
            right: -50%;
        }
    }

    &__pic {
        position: absolute;
        width: 21rem;
        height: 20rem;
        top: -12rem;
        left: 15rem;
        display: flex;

        @include mobile {
            top: 37rem;
            left: 52rem;
            z-index: -1;
        }

        & img {
            object-fit: contain;

            @include mobile {
                transform: rotate(-15deg);
            }
        }
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        gap: 6rem;
        width: 83rem;
        margin: auto;

        @include mobile {
            grid-template-columns: 100%;
            justify-content: center;
            padding: 0 2rem;
            gap: 4rem;
        }

        &-e {
            display: grid;
            grid-template-columns: min-content auto;
            grid-template-rows: auto min-content;
            align-items: center;
            gap: .5rem 2.5rem;

            &-icon {
                grid-column: 1;
                grid-row: 1 / span 2;
                width: 6rem;
                height: 6rem;
                display: flex;
                align-items: center;
                justify-content: center;
                background-size: 1rem;
                border-radius: 1rem;
                background: linear-gradient(129.47deg, rgba(14, 168, 133, 0.3) 7.71%, rgba(161, 66, 255, 0.3) 78.89%);
                position: relative;
                z-index: 3;

                @include mobile {
                    width: 8rem;
                    height: 8rem;
                }

                & svg {
                    max-width: 60%;
                    max-height: 60%;
                    position: relative;
                    z-index: 4;
                }

                &::after {
                    content: '';
                    position: absolute;
                    z-index: -1;
                    width: 200%;
                    height: 200%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    opacity: 0;
                    background: radial-gradient(circle, rgba(0, 164, 131, .5) 0%, transparent 62%, transparent 100%);
                    transition: transform .5s, opacity .5s;
                }

                &::before {
                    content: '';
                    position: absolute;
                    border-radius: 1rem;
                    top: 0;
                    left: 0;
                    background-image: url(../assets/images/texture.webp);
                    background-size: cover;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    opacity: .5;
                }

                .contacts__list-e-icon-fill &-fill,
                &-stroke {
                    transition: fill .5s, stroke .5s;
                }

                @include hover {
                    background-image: none;
                    background-color: rgba(0, 164, 131, .2);

                    &::after {
                        transform: translate(-50%, -50%);
                        opacity: 1;
                    }

                    & .contacts__list-e-icon-fill {
                        fill: $green;
                    }

                    & .contacts__list-e-icon-stroke {
                        stroke: $green;
                    }

                }
            }

            &-link {
                grid-column: 2;
                font-family: Idealist Sans;
                font-size: 1.6rem;
                font-weight: 300;
                line-height: 120%;
                letter-spacing: 0.05em;
                text-align: left;

                width: fit-content;
                color: $green;

                @include mobile {
                    font-size: 2.8rem;

                }

                &._center {
                    grid-row: span 2;
                }


                @include hover {


                    &~.contacts__list-e-icon {
                        background-image: none;
                        background-color: rgba(0, 164, 131, .2);

                        &::after {
                            transform: translate(-50%, -50%);
                            opacity: 1;
                        }

                        & .contacts__list-e-icon-fill {
                            fill: $green;
                        }

                        & .contacts__list-e-icon-stroke {
                            stroke: $green;
                        }
                    }

                }
            }

        }
    }
}