.portfolio {
    position: relative;

    & .container {
        position: relative;
    }

    &__pic {
        width: 20rem;
        height: 42rem;
        top: -18rem;
        left: 2rem;
        display: flex;
        position: absolute;
        z-index: -1;

        @include mobile {
            width: 8.6rem;
            height: 17rem;
            top: 2rem;
            left: 84%;

        }

        & img {
            object-fit: contain;
        }
    }

    &__pic-bottom {
        width: 26rem;
        height: 25rem;
        bottom: -8rem;
        right: -8rem;
        display: flex;
        position: absolute;
        z-index: -1;

        @include mobile {
            right: 81%;
            width: 10rem;
            height: 10rem;
        }

        & img {
            object-fit: contain;
        }
    }


    & .gradient-bg {
        scale: -1 1;
        top: 50%;
        left: -40%;
        transform: translateY(-50%);

        @include mobile {
            top: 85%;
            left: -10%;
        }
        &.mobile{
            scale: 1;
            transform: translate(translate(-20rem, -41rem));
            top: 0;
            left: 50%;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 23rem;
        width: 100%;
        gap: 2rem;

        @include mobile {
            grid-template-columns: 100%;
            grid-auto-rows: 36rem;
        }

        &-e {
            border-radius: 1rem;
            overflow: hidden;
            position: relative;
            display: flex;

            @include desktop {
                &._2x1 {
                    grid-column: span 2;
                }

                &._2x2 {
                    grid-column: span 2;
                    grid-row: span 2;
                }
            }

            &:hover {
                & .portfolio__list-e-overlay {
                    opacity: 1;
                }
            }

            &-img {
                flex-grow: 1;
                display: flex;

                & img {
                    object-fit: cover;
                    object-position: center;
                }
            }

            &-overlay {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: opacity .5s;
                background: linear-gradient(67.46deg, rgba(12, 153, 121, 0.6) 4.15%, rgba(90, 18, 163, 0.6) 92.93%);
                padding: 2rem;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                @include mobile {
                    opacity: 1;
                    background: none;
                    justify-content: unset;
                }



                &-text {
                    font-family: 'Esqadero FF CY 4F';
                    font-size: 1.8rem;
                    font-weight: 400;
                    line-height: 110%;
                    text-align: left;

                    @include mobile {
                        padding: 1rem;
                        border-radius: 8px;
                        background: linear-gradient(67.46deg, rgba(12, 153, 121, 0.6) 4.15%, rgba(90, 18, 163, 0.6) 92.93%);
                        width: fit-content;
                    }

                }

                & a.portfolio__list-e-overlay-text {
                    color: $purple;

                    @include hover {
                        text-decoration: underline;
                    }

                }

                & h3 {
                    font-size: 2.2rem;
                    text-transform: uppercase;
                }



                &-play {
                    width: 5rem;
                    height: 5rem;
                    margin-left: auto;

                    @include mobile {
                        width: 8rem;
                        height: 8rem;
                        background: linear-gradient(67.46deg, rgba(12, 153, 121, 0.6) 4.15%, rgba(90, 18, 163, 0.6) 92.93%);
                        border-radius: 50%;
                        margin-top: 8rem;
                        margin-right: auto;

                        & svg circle {
                            display: none;
                        }
                    }

                    & svg {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        transition: background-color .2s linear;
                    }

                    @include hover {
                        & svg {
                            background-color: $green;
                          
                             & circle {
                                stroke: $green;
                            }
/*
                            & path {
                                fill: $green;
                            } */
                        }

                    }
                }
            }


        }
    }

}