.vacancy {
    &__c {
        display: flex;
        width: fit-content;
        margin: auto;
        gap: 10rem;

        @include mobile {
            gap: 4rem;
        }

        &-img {
            width: 34rem;
            height: 30rem;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            @include mobile{
                height: auto;
                justify-content: flex-end;
                align-items: flex-end;
            }

            &-pic {
                position: absolute;
                top: -3rem;
                left: -2.5rem;
                width: 23rem;
                height: 22.5rem;
                display: flex;
                z-index: 1;
                @include mobile{
                    top: -4rem;
                left: -4.7rem;
                }

                & img {
                    transform-origin: right bottom;
                    transform: rotate(15deg);
                    object-fit: contain;
                }
            }

            &-circle {
                width: 18rem;
                height: 18rem;
                border-radius: 50%;
                background: linear-gradient(135.32deg, rgba(14, 168, 133, 0.3) 25.26%, rgba(161, 66, 255, 0.3) 88.33%);
                position: relative;
                @include mobile{
                    width: 11rem;
                    height: 11rem;
                }
                &::after{
                    content: '';
                    position: absolute;
                    z-index: -1;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url(../assets/images/texture.webp);
                    background-size: 1rem;
                    border-radius: 50%;
                    opacity: .5;
                }

                &-1 {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 3.8rem;
                    height: 3.8rem;
                    border-radius: 50%;
                    background-color: $bg;
                    transform: translate(-50%, -50%);
                    @include mobile{
                        border-width: 1rem;
                        width: 2.2rem;
                        height: 2.2rem;
                    }
                }

                &-2 {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 9.6rem;
                    height: 9.6rem;
                    border-radius: 50%;
                    border: 1.5rem solid $bg;
                    transform: translate(-50%, -50%);
                    @include mobile{
                        border-width: 1rem;
                        width: 5.4rem;
                        height: 5.4rem;
                    }
                }

                &-3 {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 15.7rem;
                    height: 15.7rem;
                    border-radius: 50%;
                    border: 1.5rem solid $bg;
                    transform: translate(-50%, -50%);
                    @include mobile{
                        border-width: 1rem;
                        width: 9rem;
                        height: 9rem;
                    }
                }
            }
        }

        &-text {
            min-height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-family: Idealist Sans;
            font-size: 1.6rem;
            font-weight: 300;
            line-height: 130%;
            letter-spacing: 0.05em;
            text-align: left;

            @include mobile {
                font-size: 2.8rem;

                & p:first-of-type {
                    margin-bottom: 3rem;
                }
            }

            & .col-purple {
                @include hover {
                    text-decoration: underline;
                }

            }


        }
    }

}