.tag {
    padding: .2rem;
    padding-right: 1.6rem;
    box-sizing: border-box;
    background-color: $white;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    @include mobile{
        font-size: 2.4rem;
    }

    &-icon {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-color: $blue-lighter;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        @include mobile {
            width: 6.4rem;
            height: 6.4rem;
        }

        & img,
        & svg {
            width: 3.2rem;
            height: 3.2rem;

            @include mobile {
                width: 4.4rem;
                height: 4.4rem
            }

        }

    }

    &._small {
        & .tag-icon {
            @include same-size(3.2rem, 3.2rem);

            & img,
            & svg {
                width: 1.6rem;
                height: 1.6rem;
                @include same-size(1.6rem, 1.6rem);
            }
        }
    }

}