.tl-logo {
  //styleName: 1920px/Logo;
  font-family: Inter;
  font-size: 4rem;
  font-weight: 700;
  line-height: 110%;
  text-align: left;

}

.tl1 {
  font-family: 'Actay Wide';
  font-weight: 700;
  font-size: 6.2rem;
  line-height: 110%;

  @include mobile {
    font-size: 7rem;
  }
}

.tl2 {
  font-family: 'Actay Wide';
  font-weight: 500;
  font-size: 5.2rem;
  line-height: 120%;

  @include mobile {
    font-size: 5.4rem;
  }
}



// --------------------------------------------------------------------------
.txt32 {
  font-family: 'Roboto';
  font-size: 3.2rem;
  line-height: 110%;
  font-weight: 400;

  &._medium {
    font-weight: 500;
  }

  @include mobile {
    font-size: 4.8rem;
  }
}

.txt28 {
  font-family: 'Roboto';
  font-size: 2.8rem;
  line-height: 110%;
  font-weight: 400;

  &._medium {
    font-weight: 500;
  }

  @include mobile {
    font-size: 3.2rem;
  }
}
.txt21{
  font-family: 'Roboto';
  font-size: 2rem;
  line-height: 110%;
  font-weight: 400;

  &._medium {
    font-weight: 500;
  }

  @include mobile {
    font-size: 4.2rem;
  }
}

.txt20 {
  font-family: 'Roboto';
  font-size: 2rem;
  line-height: 110%;
  font-weight: 400;

  &._medium {
    font-weight: 500;
  }

  @include mobile {
    font-size: 3.2rem;
  }
}

.txt16 {
  font-family: 'Roboto'; 
   font-size: 1.6rem;
   line-height: 110%;
   font-weight: 400;
 
   &._medium {
     font-weight: 500;
   }
 
   @include mobile {
     font-size: 3.2rem;
   }
 }
 .txt14{
  font-family: 'Roboto'; 
  font-size: 1.4rem;
  line-height: 110%;
  font-weight: 400;

  &._medium {
    font-weight: 500;
  }

  @include mobile {
    font-size: 2.6rem;
  }
 }