// typography
@import './typo';


@import './swiper';
@import './btns';
@import './drop-down';
@import './tag';
@import './marked-list';
@import './switch-list';
@import './specialist';
@import './inputs';
@import './ajax';




.col {
    &-bl {
        color: $blue;
    }

    &-wh {
        color: $white;
    }
    &-gr{
        color: $gray;
    }
    &-black{
        color: $black;
    }
}

.bg {
    &-wh {
        background-color: $white !important;
    }

    &-bl {
        background-color: $blue;
    }
}
.txtup{
    text-transform: uppercase;
}
.hover{
    &-blue{
        @include hover{
            color: $blue;
        }
    }
}

.rubles::after {
    content: '₽';

}

.circle {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
   width: 5rem;
   height: 5rem;
   @include mobile{
    width: 8rem;
    height: 8rem
   }
    &._big{
       width: 7.4rem;
       height: 7.4rem;
    }

}

.section-heading {
    margin-bottom: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include desktop{
        gap: 10rem;
    }
    @include mobile{
        flex-direction: column;
        gap: 3rem;
    }
    &._center{
        justify-content: center;
    }
}
.section-footer{
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
     & a , & button{
        
        @include mobile{
            width: 100%;
            display: flex;
            justify-content: center;
            text-align: center;
        }
     }
}
.mobile-btn{
    @include mobile{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 4rem;
    }
   
}
[data-fancybox]{
    cursor: zoom-in;
}
.fancybox__container {
    backdrop-filter: 1rem;
    -webkit-backdrop-filter: 1rem;
    --fancybox-bg: rgba(25, 31, 43, 0.8);

}

.fancybox__toolbar {
    --f-button-bg: rgba(25, 31, 43, 0.8);
    --f-button-hover-bg: rgba(25, 31, 43, 0.8);
    --f-button-active-bg: rgba(25, 31, 43, 0.8);
}

.price{
    &-from{
        &::before{
            content: 'от ';
            font-size: 50%;
        }
        &::after{
            content: ' ₽';
            font-size: 50%;
        }
    }
}