<footer class="footer">
  <div class="container ">
    <h2 class="tl2 txt-up">Остались вопросы?</h2>

    <form class="footer__form form">
      <label class="form-input input-text " data-wow-delay=".2s">
        <input maxlength="15" class="txt18" type="text" name="name" data-required="y" placeholder="Ваше имя"
          autocomplete="off">
        <span class="input-text-error-msg"></span>
      </label>
      <label class="form-input input-text " data-wow-delay=".6s">
        <input class="txt18" type="text" name="phone" data-required="y" placeholder="+7 (___) ___-__-__"
          autocomplete="off" inputmode="text">
        <span class="input-text-error-msg"></span>
      </label>

      <button class="btn-primary _pink" type="submit">
        бесплатная консультация
        <svg width="27" height="28" viewBox="0 0 27 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M25.5 2L1.5 26" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"
            stroke-linejoin="round" />
          <path d="M25.5 23.293L25.5 2L4.207 2" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"
            stroke-linejoin="round" />
        </svg>

      </button>
    </form>

    <div class="footer__bottom">
      <a href="#" class="footer__bottom-logo">
        <img src="./assets/images/icons/logo-black.svg" alt="logo">
      </a>
      <div class="footer__bottom-row">
        <a href="#" class="footer__bottom-social">
          <img src="./assets/images/icons/tg.svg" alt="tg">
        </a>
        <a href="#" class="footer__bottom-social">
          <img src="./assets/images/icons/wa.svg" alt="wa">
        </a>
      </div>
      <a href="tel:123" class="txt26">
        +7 (999) 999-99-99
      </a>

    </div>

  </div>
</footer>