<div class="modal modal-request ">
    <div class="modal-wrp  modal-closer">
        <div class="modal__c">
            <button class="modal__closer modal-closer"></button>
            <h2 class="tl2 txt-up">заявка</h2>
            <form class="form modal-request__form">
                <label class="form-input input-text ">
                    <input maxlength="15" class="txt18" type="text" name="name" data-required="y"
                        placeholder="Ваше имя">
                    <span class="input-text-error-msg"></span>
                </label>

                <label class="form-input input-text ">
                    <input class="txt18" type="text" name="phone" data-required="y" placeholder="+7 (___) ___-__-__">
                    <span class="input-text-error-msg"></span>
                </label>
                <button class=" modal-request__form-submit _pink btn-primary " type="submit">
                    оставить заявку
                    <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M26 2L2 26" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path d="M26 23.293L26 2L4.707 2" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>


                </button>
            </form>
        </div>
    </div>

</div>