.btn-primary {
    width: 28rem;
    height: 28rem;
    font-family: Random Grotesque Spacious Book;
    font-size: 2rem;
    font-weight: 400;
    line-height: 110%;
    letter-spacing: 0.02em;
    border-radius: 50%;
    /*  text-transform: uppercase; */
    text-align: center;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10rem;
    box-sizing: border-box;

    @include mobile {

        font-size: 3rem;

    }



    &._gray {
        background-color: rgba(0, 0, 0, 0.04);
        backdrop-filter: blur(1rem);
        border: 2px solid $white;

        @include hover {
            color: $white;
            background-color: $pink;
            border-color: $pink;

            & .btn-primary__arrow {
                background-image: url(../assets/images/icons/arrow-right-white.svg);
            }

        }

        & .btn-primary__arrow {
            background-image: url(../assets/images/icons/arrow-right-black.svg);

        }
    }

    & * {
        //styleName: 375/Button;
        max-width: 90%;
        width: 100%;

    }

    & .btn-primary__text-top {
        padding-right: 3rem;

    }

    & .btn-primary__text-bottom {
        padding-left: 3rem;

    }

    & .btn-primary__arrow {
        width: 2.4rem;
        height: 2.4rem;
        margin-top: 2.4rem;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @include mobile {
            width: 4.8rem;
            height: 4.8rem;
            margin-top: 3rem;
        }


    }

}

.btn-primary-hover {
    @include hover {
        & .btn-primary._gray {
            color: $white;
            background-color: $pink;
            border-color: $pink;

            & .btn-primary__arrow {
                background-image: url(../assets/images/icons/arrow-right-white.svg);
            }
        }
    }

}

.btn-second {
    box-sizing: border-box;
    display: block;
    padding: 1.4rem 2.4rem;
    border-radius: 3rem;
    border: 2px solid $black20;
    font-family: Random Grotesque Spacious Book;
    font-size: 2rem;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0.02em;
    width: fit-content;
    height: fit-content;

    @include mobile {
        font-size: 3rem;
    }

    &._arrow {
        padding-right: 5.8rem;


        & .btn-second__text {
            position: relative;
           
       

            &::after {
                position: absolute;
                content: '';
                top: 0;
                right: -1rem;
                transform: translateX(100%);
                width: 2.4rem;
                height: 2.4rem;
                background-image: url(../assets/images/icons/arrow-right-black.svg);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
                @include mobile{
                    width: 3rem;
                    height: 3rem;
                }

            }
        }
    }


}

.btn-second-hover {
    @include hover {
        & .btn-second {
            color: $white;
            background-color: $pink;
            border-color: $pink;

            &._arrow .btn-second__text::after {
                background-image: url(../assets/images/icons/arrow-right-white.svg);

            }
        }
        &.btn-second {
            color: $white;
            background-color: $pink;
            border-color: $pink;

            & .btn-second__text::after {
                background-image: url(../assets/images/icons/arrow-right-white.svg);

            }
        }
        
    }
}


.btn-arrow-hover {

    @include hover {
        & .btn-arrow {
            background-color: $pink;
            background-image: url(../assets/images/icons/arrow-right-pink.svg);
        }
    }
}

.btn-arrow {
    display: block;
    background-color: $white;
    background-image: url(../assets/images/icons/arrow-right-black.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
    width: 4.6rem;
    height: 4.6rem;
    border: 2px solid $gray;
    border-radius: 50%;

    @include hover {
       
        background-color: $pink;
        background-image: url(../assets/images/icons/arrow-right-pink.svg);
    }
    @include mobile{
        width: 6rem;
        height: 6rem;
    }



}