.modal {

    display: none;
    position: fixed;
    z-index: 1111;
    width: 100vw;
    min-height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(191, 183, 183, 0.1);
    backdrop-filter: blur(1rem);
    -webkit-backdrop-filter: 1rem;
    align-items: center;
    justify-content: center;


    &._opened {
        display: flex ;
        & .modal__c {
            transform: translate(50%, calc(50% - 10rem));
            @include mobile{
                transform: translate(0%, 10rem);

            }
        }


    }


    &__c {
        transform: translate(50%, -50%);
        transition: transform .5s;
        position: relative;
        gap: 2rem;
        background-color: $white;
        border-radius: 3rem;
        padding: 6rem;
        border-radius: 3rem 0 3rem 3rem;
        box-sizing: border-box;
        width: 100rem;
        min-height: 50rem;

        @include mobile {
            width: calc(100% - 4rem);
            padding: 4rem 3rem;
            margin: 0 2rem;
            transform: translate(0%, -50%);
        }

        &-closer {
            position: absolute;
            right: -0rem;
            top: -5.6rem;
            z-index: 10;

            &.ui-bottom-angle._left .ui-bottom-angle-round._left {
                left: -4.5rem;
                bottom: 1.5rem;
                background: rgb(86, 255, 0);
                background: radial-gradient(circle, rgba(255, 0, 0, 0) 50%, #ffffff 51%);
                background-size: 16rem 15rem;
                background-position: 61% 54%;
                background-repeat: no-repeat;
                transform: translateX(-50%);
                clip-path: polygon(50% 53%, 100% 58%, 100% 100%, 49% 100%);

                @include mobile {
                    display: none;
                }
            }

            &.ui-bottom-angle._left .ui-bottom-angle-line._left {
                display: none;
            }
           @include mobile{
            border-radius: 50% 50% 0 0;
           }
        }


        &-close {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 5.6rem;
            height: 5.6rem;

            background-image: url(../assets/images/icons/x.svg);
            background-size: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-color: $gray;
            border-radius: 50%;

            border-radius: 50%;



            @include mobile {
                width: 6.4rem;
                height: 6.4rem;
                margin-bottom: 4rem;


            }


        }

        &._request {
            display: flex;
            flex-direction: column;
            gap: 3rem;

            & form {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: .5rem 2.4rem;

                @include mobile {
                    grid-template-columns: 100%;
                }

                & ._row {

                    @include desktop {
                        grid-column: 1 / span 2;
                    }

                }

                & ._footer {
                    @include desktop {
                        grid-column: 1 / span 2;
                    }

                    display: flex;
                    width: 100%;
                    gap: 2rem;
                    align-items: center;

                    @include mobile {
                        flex-direction: column;

                    }
                }






            }
        }

        &._success {
            justify-content: center;
            gap: 5rem;
            display: flex;
            flex-direction: column;
            align-items: center;

        }


    }

}