.active-projects {
    background-color: $red-dark;

    & .container {
        position: relative;
        display: flex;
        flex-direction: column;
        @include mobile{
           align-items: center;
        }
    }

    & .swiper-btn {
        position: absolute;
        top: 45rem;
        z-index: 1;

        &-prev {
            left: 0;
            transform: translateX(-150%);
        }

        &-next {
            right: 0;
            transform: translateX(150%);

        }
    }

    &__top {
        width: fit-content;

        @include mobile {
            text-align: center;
            background-color: transparent;
            padding: 0;
            color: $white;
            margin-top: 6rem;
        }
    }

    &__sliders {
        display: grid;
        grid-template-columns: 1.2fr .8fr;
        gap: 2.4rem;
        width: 100%;
        margin: 5rem 0 10rem;
        height: 50rem;

        @include mobile {
            height: auto;
            grid-template-columns: 100%;
            grid-template-rows: 70rem 48rem;
            background-color: $bg;
            border: 5px solid $white;
            border-radius: 3rem;
            background-color: $bg;
        }

    }

    &__body {
        height: 100%;
        width: 100%;
        border: 10px solid $white;
        border-right: 20px solid $white;
        border-left: 20px solid $white;
        box-sizing: border-box;
        border-radius: 3rem;
        background-color: $bg;
        padding: 2rem;
        box-sizing: border-box;

        @include mobile {
            border: none;

        }


        &-tag {
            display: flex;
            gap: 1rem;
            padding: 8px;
            padding-right: 2rem;
            box-sizing: border-box;
            background-color: $white;
            border-radius: 3rem;
            align-items: center;
            width: fit-content;
            margin: 2px;

            &-img {
                background-color: $red-dark;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                width: 5rem;
                height: 5rem;

                & img {
                    max-width: 50%;
                    object-fit: contain;
                }
            }
        }

        & .swiper-slide {
            display: flex;
            flex-direction: column;

            @include mobile {
                padding: 3rem;
                box-sizing: border-box;
            }

            & .tl2 {
                margin: 3.2rem 0;

                @include mobile {
                    font-size: 4.4rem;
                }
            }
        }

        &-date {
            display: flex;
            width: 100%;
            justify-content: space-between;
            padding-bottom: 1rem;
            margin-top: 1rem;
            border-bottom: 1px solid $gray;

            @include mobile {
                flex-direction: column;
            }

        }
    }

    &__images {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: $bg;
        border-radius: 3rem;


        & .swiper-slide {
            height: 100%;

            display: flex;
            border-radius: 3rem;
            overflow: hidden;

            & img {
                object-fit: cover;
                object-position: center;
                border-radius: 3rem;
            }
        }

        & .swiper-pagintaion {
            width: 100%;
            padding: 1rem;

        }

        & ._footer {}
    }

    &__bottom {
       
        box-sizing: border-box;
        width: fit-content;
        margin-left: auto;

        @include mobile {
          margin: 0;
       
           
        }
    }


}

.complited-projects {

    & .container {
        position: relative;
        display: flex;
        flex-direction: column;

        @include mobile {
            padding: 0;
        }

        & .tl1 {
            text-align: center;
            margin-bottom: 5rem;

            @include mobile {
                text-align: left;
                padding: 0 3rem;
            }
        }
        & .swiper{
            width: 100%;
        }

        & .swiper-btn {
            position: absolute;
            top: 34rem;

            &-next {
                right: 0;
                transform: translateX(150%);
            }

            &-prev {
                left: 0;
                transform: translateX(-150%);
            }
        }

        & .btn-primary {
            margin: auto;
            margin-top: 5rem;
        }

    }

}



.partners {
    background-color: $white;

    & .container {
        display: flex;
        flex-direction: column;
        gap: 8rem;
    }

    &__top {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 15rem;
        align-items: center;

        @include mobile {
            grid-template-columns: 100%;
            gap: 3rem;
        }

        & .txt22 {
            padding-top: 2rem;
        }

        &-heading {
            background-color: $bg;
            border-radius: 0 0 3rem 0;
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
        }

        & .tag {
            transform: translateY(-2rem);

            @include mobile {
                display: flex;
                flex-direction: row;
                gap: 5rem;
                justify-content: center;
                transform: translateY(0);
            }

            & span+span {
                text-align: right;

                @include mobile {
                    text-align: left;
                }
            }
        }
    }

    &__list {
        display: flex;
        gap: 12rem;
        flex-wrap: wrap;

        @include mobile {
            justify-content: center;
            gap: 7.6rem 1.6rem;
        }

        &-img {
            height: 4.2rem;
            flex-shrink: 0;
            display: flex;

            @include mobile {
                height: 9rem;

                &:first-of-type {
                    width: 100%;
                }

            }

            & img {

                object-fit: contain;
            }
        }
    }

    &__footer {
       
        margin-left: auto;
        @include mobile {
            margin: auto;
        }
    }
}

.mails {
    & .container {

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5rem;
        @include mobile{
            padding: 0;
        }
        & .tl1{
            @include mobile{
                padding: 0 3rem;
            }
        }
       
    }

    & .swiper {
        width: 100%;

        @include desktop {
            overflow: visible;
        }
    }

    &__slide {
        background-color: $red-dark;
        border-radius: 3rem;
        display: grid;
        grid-template-rows: auto min-content;
        gap: 2.4rem;
        padding: 2.4rem;
        flex-direction: column;
        height: 48rem;
        position: relative;
        cursor: pointer;

        @include hover {
            & .mails__slide-zoom {
                width: 8rem;
                height: 8rem;
            }
        }

        @include mobile {
            height: 70rem;
        }

        &-img {
            height: 100%;
            display: flex;
            overflow: hidden;
            border-radius: 2rem;

            & img {
                object-fit: cover;
                object-position: center;
            }
        }

        &-name {
            flex-shrink: 0;
            height: auto;
        }

        &-zoom {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(50%, -50%);
            width: 7rem;
            height: 7rem;
            border-radius: 50%;
            background-color: $gray;
            background-image: url(../assets/images/icons/zoom.svg);
            background-position: center;
            background-size: 3rem;
            background-repeat: no-repeat;
            transition: width .2s linear, height .2s linear;
            @include mobile{
                transform: translate(-2rem, 2rem);
            }

        }
    }

    & .btn-primary {
        margin: auto;
    }
}