.projects {
    & .container {
        display: flex;
        flex-direction: column;
        gap: 5rem;
    }

    &__loadmore{
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: 5rem;
        @include mobile{
            margin-top: 10rem;
        }
    }

    &__top {

        display: flex;
        justify-content: space-between;
        @include mobile{
            flex-direction: column;
            gap: 3rem;
        }

        &-btns {
            background-color: $white;
            border-radius: 10rem;
            overflow: hidden;
            @include mobile{
               
                display: flex;
                text-align: center;
            }

            & button {
                border-radius: 10rem;
                padding: 2.4rem;
                box-sizing: border-box;

                &._opened {
                    background-color: $red-dark;
                    color: $white;
                }
            }
        }

    }

    &-container {
        overflow: hidden;
        width: 100%;

    }

    &-wrapper {
        display: flex;
        flex-wrap: nowrap;
    }

    & .switcher-slide {
        flex-shrink: 0;
        width: 100%;

        & ul {


            height: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2.4rem;

            @include mobile {
                grid-template-columns: 100%;
            }
        }
    }
}